<a href="https://colab.research.google.com/github/PuchToTalk/Football_market-value/blob/Data-Analysis/Football_player_mv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
# importer librairies 
from google.colab import files
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import datetime as dt
from pylab import savefig

In [68]:
df_perf = pd.read_csv("foot_perf.csv")
df_perf

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,0.03,1.41,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,0.00,0.06,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,0.00,0.36,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,0.03,0.79,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0
4,5,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,2000,1,1,...,0.00,2.00,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2916,2917,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,0.10,0.10,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0
2917,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,0.00,0.74,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4
2918,2919,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.10,0.84,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5
2919,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.25,0.29,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0
2920,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.27,0.00,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5

In [69]:
df_mv = pd.read_csv("only_mv.csv")
df_mv = df_mv.drop(columns = df_mv.columns[0], axis = 1)
df_mv = df_mv.drop(["Nation", "Pos"], axis = 1)
df_mv

              Player Market value
0      Kylian Mbappé     €180.00m
1    Raheem Sterling     €128.00m
2             Neymar     €128.00m
3         Sadio Mané     €120.00m
4      Mohamed Salah     €120.00m
..               ...          ...
512      Keita Baldé      €16.00m
513     Breel Embolo      €16.00m
514     Nadiem Amiri      €16.00m
515    Lucas Vázquez      €16.00m
516     Jeremie Boga      €16.00m

[517 rows x 2 columns]

In [70]:
merged_df = pd.merge(df_perf, df_mv, on='Player', how='left')
merged_df

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,Market value
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,1.41,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7,€20.00m
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,0.06,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8,NaN
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,0.36,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0,NaN
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,0.79,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0,NaN
4,5,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,2000,1,1,...,2.00,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,2917,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,0.10,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0,NaN
2933,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,0.74,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4,NaN
2934,2919,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.84,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5,NaN
2935,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.29,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0,NaN
2936,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.00,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5,NaN

In [71]:
merged_df.isnull().sum().sum()

2548

In [72]:
merged_df.columns[merged_df.isnull().any()].tolist()

['Nation', 'Age', 'Market value']

In [73]:
merged_df['Pos'].unique()

array(['DF', 'MF', 'FW', 'MFFW', 'FWMF', 'GK', 'DFMF', 'FWDF', 'MFDF',
       'DFFW', 'GKMF'], dtype=object)

In [74]:
merged_df['Nation'].unique()

array(['ENG', 'MAR', 'GHA', 'FRA', 'NGA', 'PER', 'ITA', 'GER', 'ARG',
       'SCO', 'USA', 'ARM', 'SUI', 'ESP', 'COL', 'BIH', 'CIV', 'NOR',
       'REU', 'EQG', 'NED', 'AUT', 'CHI', 'GUF', 'PAR', 'TUR', 'ROU',
       'BRA', 'GAB', 'SEN', 'WAL', 'DEN', 'SWE', 'PAN', 'JAM', 'URU',
       'MEX', 'JPN', 'KVX', 'ALB', 'TOG', 'ALG', 'IRN', 'CRO', 'LUX',
       'CMR', 'COD', 'GRN', 'CZE', 'MKD', 'GAM', 'GUI', 'CPV', 'SUR',
       'POL', 'SVN', 'SVK', 'BEL', 'ISL', 'GNB', 'MLI', 'SRB', 'TUN',
       'NZL', 'ECU', 'POR', 'NIR', 'RUS', 'IRL', 'VEN', 'ANG', 'ISR',
       'ZAM', 'CAN', 'MTQ', 'KOR', 'GRE', 'BEN', 'CRC', 'HON', 'EGY',
       'MAD', 'FIN', 'CGO', 'DOM', 'HUN', 'PHI', 'BUL', 'AUS', 'UKR',
       'MNE', 'BFA', 'ZIM', 'SLE', 'CYP', 'CTA', 'CHN', nan, 'GEO', 'MOZ',
       'RSA', 'CHA', 'UZB'], dtype=object)

In [75]:
merged_df['market_int'] = merged_df['Market value'].str.replace('m', '').str.replace("€", "")
merged_df['market_int'] = merged_df['market_int'].astype(float)
merged_df

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,Market value,market_int
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7,€20.00m,20.0
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8,NaN,NaN
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0,NaN,NaN
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0,NaN,NaN
4,5,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,2000,1,1,...,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,2917,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0,NaN,NaN
2933,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4,NaN,NaN
2934,2919,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5,NaN,NaN
2935,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0,NaN,NaN
2936,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5,NaN,NaN

In [76]:
median_value = merged_df['market_int'].median()
merged_df['market_int'] = merged_df['market_int'].fillna(round(median_value,2))
merged_df

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,Market value,market_int
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7,€20.00m,20.0
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8,NaN,28.0
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0,NaN,28.0
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0,NaN,28.0
4,5,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,2000,1,1,...,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0,NaN,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,2917,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0,NaN,28.0
2933,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4,NaN,28.0
2934,2919,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5,NaN,28.0
2935,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0,NaN,28.0
2936,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5,NaN,28.0

## **Nouveau Dataframe**

In [77]:
df_football_stats = pd.DataFrame()

In [78]:
df_football_stats['Player'] = merged_df['Player']
df_football_stats['Nation'] = merged_df['Nation']
df_football_stats['Pos'] = merged_df['Pos']
df_football_stats['Squad'] = merged_df['Squad']
df_football_stats['Comp'] = merged_df['Comp']
df_football_stats['Age'] = merged_df['Age']
df_football_stats['MarketValue (M €)'] = merged_df['market_int']
df_football_stats['MP'] = merged_df['MP']
df_football_stats['G/90'] = merged_df['Goals']
df_football_stats['G/Sh'] = merged_df['G/Sh']
df_football_stats['PKGoals'] = ((merged_df['ShoPK'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['PKAttempted'] = ((merged_df['PKatt'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Goals'] = ((merged_df['Goals'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Pass'] = ((merged_df['PasTotAtt'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['PassCompleted'] = ((merged_df['PasTotCmp'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['PassComp%'] = ((df_football_stats['PassCompleted'] / df_football_stats['Pass']) * 100).round(2)
df_football_stats['Assist'] = ((merged_df['Assists'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Cross'] = ((merged_df['PasCrs'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['CrossCompleted'] = ((merged_df['CrsPA'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['CrossComp%'] = ((df_football_stats['CrossCompleted'] / df_football_stats['Cross']) * 100).round(2)
df_football_stats['Tackle_Won'] = ((merged_df['TklWon'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['SucDribble'] = ((merged_df['DriSucc'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Dribble'] = ((merged_df['DriAtt'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['DribbleComp%'] = ((df_football_stats['SucDribble'] / df_football_stats['Dribble']) * 100).round(2)
df_football_stats['YCards'] = ((merged_df['CrdY'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['RCards'] = ((merged_df['CrdR'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Fls'] = ((merged_df['Fls'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Fld'] = ((merged_df['Fld'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['OGoals'] = ((merged_df['OG'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['AerWon'] = ((merged_df['AerWon'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['AerLost'] = ((merged_df['AerLost'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['AerWon%'] = ((merged_df['AerWon'] / (merged_df['AerWon'] + merged_df['AerLost'])) * 100).round(2)

### TOP 5 des meilleurs buteurs

In [84]:
(df_football_stats[(df_football_stats.MP >= 20) & (df_football_stats.Pos != 'GK')].sort_values('Goals', ascending = False)
                                                                                  .head(5)
                                                                                  .iloc[:, [0,1,2,3,4,5,6,7,12]])

,Player,Nation,Pos,Squad,Comp,Age,MarketValue (M €),MP,Goals
1519,Robert Lewandowski,POL,FW,Bayern Munich,Bundesliga,33.0,56.0,34,35
1730,Kylian Mbappé,FRA,FW,Paris S-G,Ligue 1,23.0,180.0,35,28
285,Karim Benzema,FRA,FW,Real Madrid,La Liga,34.0,32.0,32,27
1243,Ciro Immobile,ITA,FW,Lazio,Serie A,32.0,40.0,31,27
266,Wissam Ben Yedder,FRA,FW,Monaco,Ligue 1,31.0,40.0,37,25

### TOP 5 des clubs qui marquent le +

In [91]:
team_goals = df_football_stats.groupby(['Squad']).agg(Team_Goals = ('Goals', 'sum'))
team_goals = pd.DataFrame(team_goals).reset_index()
team_goals.sort_values('Team_Goals', ascending = False).head(5)

              Squad  Team_Goals
56  Manchester City          96
50        Liverpool          94
10    Bayern Munich          92
69        Paris S-G          88
25         Dortmund          86

### Top 5 Players with most Assists

In [85]:
df_football_stats.sort_values('Assist', ascending = False).head(8).iloc[:, [0,1,2,3,4,5,6,16]]

,Player,Nation,Pos,Squad,Comp,Age,MarketValue (M €),Assist
1730,Kylian Mbappé,FRA,FW,Paris S-G,Ligue 1,23.0,180.0,18
1879,Thomas M¸ller,GER,MF,Bayern Munich,Bundesliga,32.0,28.0,18
1784,Lionel Messi,ARG,FWMF,Paris S-G,Ligue 1,34.0,112.0,14
287,Domenico Berardi,ITA,FW,Sassuolo,Serie A,27.0,19.0,14
2253,Marco Reus,GER,MFFW,Dortmund,Bundesliga,32.0,25.0,13
2372,Mohamed Salah,EGY,FW,Liverpool,Premier League,29.0,120.0,13
673,Ousmane Dembélé,FRA,FW,Barcelona,La Liga,25.0,56.0,13
1954,Christopher Nkunku,FRA,FWMF,RB Leipzig,Bundesliga,24.0,33.0,13

### TOP 5 des clubs qui ont le + d'assist

In [93]:
team_assist = df_football_stats.groupby(['Squad']).agg(Team_Assist = ('Assist', 'sum'))
team_assist = pd.DataFrame(team_assist).reset_index()
team_assist.sort_values('Team_Assist', ascending = False).head(5)

              Squad  Team_Assist
50        Liverpool           71
10    Bayern Munich           70
69        Paris S-G           65
56  Manchester City           63
75           Rennes           61

### Focus sur les données complété côté Market value rattaché à la performance du joueur

In [80]:
df_filtered = merged_df[merged_df["Market value"].notnull()]
df_filtered

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,Market value,market_int
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7,€20.00m,20.0
7,8,Tammy Abraham,ENG,FW,Roma,Serie A,24.0,1997,37,36,...,0.64,0.03,0.03,0.00,3.67,2.39,2.89,45.3,€40.00m,40.0
37,38,Manuel Akanji,SUI,DF,Dortmund,Bundesliga,26.0,1995,26,25,...,1.43,0.00,0.00,0.04,9.56,2.55,1.55,62.1,€20.00m,20.0
40,41,Nathan Aké,NED,DF,Manchester City,Premier League,27.0,1995,14,10,...,0.49,0.00,0.00,0.00,7.57,3.98,0.78,83.7,€28.00m,28.0
46,47,David Alaba,AUT,DF,Real Madrid,La Liga,29.0,1992,30,30,...,0.61,0.00,0.00,0.00,6.43,0.78,0.78,50.0,€65.00m,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2899,2884,Denis Zakaria,SUI,MFDF,M'Gladbach,Bundesliga,25.0,1996,16,15,...,1.23,0.00,0.06,0.00,10.90,0.90,0.97,48.3,€40.00m,40.0
2923,2908,Oleksandr Zinchenko,UKR,DF,Manchester City,Premier League,25.0,1996,15,10,...,0.95,0.00,0.00,0.00,9.83,1.47,1.38,51.5,€24.00m,24.0
2924,2909,Hakim Ziyech,MAR,FWMF,Chelsea,Premier League,29.0,1993,23,14,...,0.75,0.00,0.00,0.00,8.91,0.75,1.22,37.9,€40.00m,40.0
2929,2914,Kurt Zouma,FRA,DF,West Ham,Premier League,27.0,1994,24,24,...,0.22,0.00,0.00,0.04,7.10,2.38,1.08,68.8,€28.00m,28.0
2931,2916,Igor Zubeldia,ESP,DF,Real Sociedad,La Liga,25.0,1997,26,19,...,0.82,0.00,0.05,0.00,9.18,2.62,2.13,55.2,€24.00m,24.0