<a href="https://colab.research.google.com/github/PuchToTalk/Football_market-value/blob/Data-Analysis/Football_player_mv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [125]:
# importer librairies 
from google.colab import files
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import datetime as dt
from pylab import savefig

### **Source de données 1 (df_perf) : Performance des joueurs**

In [126]:
df_perf = pd.read_csv("foot_perf.csv")
df_perf

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,0.03,1.41,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,0.00,0.06,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,0.00,0.36,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,0.03,0.79,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0
4,5,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,2000,1,1,...,0.00,2.00,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2916,2917,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,0.10,0.10,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0
2917,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,0.00,0.74,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4
2918,2919,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.10,0.84,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5
2919,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.25,0.29,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0
2920,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.27,0.00,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5

### **Source de données 2 (df_mv) : Valeur marchande des joueurs**

In [127]:
df_mv = pd.read_csv("only_mv2.csv")
df_mv = df_mv.drop(columns = df_mv.columns[0], axis = 1)
df_mv = df_mv.drop(["Nation", "Pos"], axis = 1)
df_mv

              Player Market value
0      Kylian Mbappé     €180.00m
1    Raheem Sterling     €128.00m
2             Neymar     €128.00m
3         Sadio Mané     €120.00m
4      Mohamed Salah     €120.00m
..               ...          ...
513     Breel Embolo      €16.00m
514     Nadiem Amiri      €16.00m
515    Lucas Vázquez      €16.00m
516     Jeremie Boga      €16.00m
517      Hugo Lloris      €32.00m

[518 rows x 2 columns]

### Focus sur les données complété côté Market value rattaché à la performance du joueur

In [128]:
merged_df = pd.merge(df_perf, df_mv, on='Player', how='left')
merged_df

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,Market value
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,1.41,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7,€20.00m
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,0.06,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8,NaN
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,0.36,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0,NaN
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,0.79,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0,NaN
4,5,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,2000,1,1,...,2.00,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,2917,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,0.10,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0,NaN
2933,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,0.74,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4,NaN
2934,2919,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.84,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5,NaN
2935,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.29,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0,NaN
2936,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.00,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5,NaN

In [129]:
df_filtered = merged_df[merged_df["Market value"].notnull()]
df_filtered

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,Market value
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,1.41,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7,€20.00m
7,8,Tammy Abraham,ENG,FW,Roma,Serie A,24.0,1997,37,36,...,0.70,0.64,0.03,0.03,0.00,3.67,2.39,2.89,45.3,€40.00m
37,38,Manuel Akanji,SUI,DF,Dortmund,Bundesliga,26.0,1995,26,25,...,0.08,1.43,0.00,0.00,0.04,9.56,2.55,1.55,62.1,€20.00m
40,41,Nathan Aké,NED,DF,Manchester City,Premier League,27.0,1995,14,10,...,0.00,0.49,0.00,0.00,0.00,7.57,3.98,0.78,83.7,€28.00m
46,47,David Alaba,AUT,DF,Real Madrid,La Liga,29.0,1992,30,30,...,1.09,0.61,0.00,0.00,0.00,6.43,0.78,0.78,50.0,€65.00m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2899,2884,Denis Zakaria,SUI,MFDF,M'Gladbach,Bundesliga,25.0,1996,16,15,...,0.32,1.23,0.00,0.06,0.00,10.90,0.90,0.97,48.3,€40.00m
2923,2908,Oleksandr Zinchenko,UKR,DF,Manchester City,Premier League,25.0,1996,15,10,...,2.41,0.95,0.00,0.00,0.00,9.83,1.47,1.38,51.5,€24.00m
2924,2909,Hakim Ziyech,MAR,FWMF,Chelsea,Premier League,29.0,1993,23,14,...,4.42,0.75,0.00,0.00,0.00,8.91,0.75,1.22,37.9,€40.00m
2929,2914,Kurt Zouma,FRA,DF,West Ham,Premier League,27.0,1994,24,24,...,0.09,0.22,0.00,0.00,0.04,7.10,2.38,1.08,68.8,€28.00m
2931,2916,Igor Zubeldia,ESP,DF,Real Sociedad,La Liga,25.0,1997,26,19,...,0.22,0.82,0.00,0.05,0.00,9.18,2.62,2.13,55.2,€24.00m

On remarque que après jointure des deux en commun. On a réduit massivement les données à disposition. Nous travaillerons de ce fait sur le remplissage des valeurs manquantes

### **Nettoyage et analyse du jeu de données "merged_df"**

In [130]:
merged_df.isnull().sum().sum()

2547

In [131]:
merged_df.columns[merged_df.isnull().any()].tolist()

['Nation', 'Age', 'Market value']

In [132]:
merged_df['Pos'].unique()

array(['DF', 'MF', 'FW', 'MFFW', 'FWMF', 'GK', 'DFMF', 'FWDF', 'MFDF',
       'DFFW', 'GKMF'], dtype=object)

In [133]:
merged_df['Nation'].unique()

array(['ENG', 'MAR', 'GHA', 'FRA', 'NGA', 'PER', 'ITA', 'GER', 'ARG',
       'SCO', 'USA', 'ARM', 'SUI', 'ESP', 'COL', 'BIH', 'CIV', 'NOR',
       'REU', 'EQG', 'NED', 'AUT', 'CHI', 'GUF', 'PAR', 'TUR', 'ROU',
       'BRA', 'GAB', 'SEN', 'WAL', 'DEN', 'SWE', 'PAN', 'JAM', 'URU',
       'MEX', 'JPN', 'KVX', 'ALB', 'TOG', 'ALG', 'IRN', 'CRO', 'LUX',
       'CMR', 'COD', 'GRN', 'CZE', 'MKD', 'GAM', 'GUI', 'CPV', 'SUR',
       'POL', 'SVN', 'SVK', 'BEL', 'ISL', 'GNB', 'MLI', 'SRB', 'TUN',
       'NZL', 'ECU', 'POR', 'NIR', 'RUS', 'IRL', 'VEN', 'ANG', 'ISR',
       'ZAM', 'CAN', 'MTQ', 'KOR', 'GRE', 'BEN', 'CRC', 'HON', 'EGY',
       'MAD', 'FIN', 'CGO', 'DOM', 'HUN', 'PHI', 'BUL', 'AUS', 'UKR',
       'MNE', 'BFA', 'ZIM', 'SLE', 'CYP', 'CTA', 'CHN', nan, 'GEO', 'MOZ',
       'RSA', 'CHA', 'UZB'], dtype=object)

In [134]:
merged_df['market_int'] = merged_df['Market value'].str.replace('m', '').str.replace("€", "")
merged_df['market_int'] = merged_df['market_int'].astype(float)
merged_df

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,Market value,market_int
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7,€20.00m,20.0
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8,NaN,NaN
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0,NaN,NaN
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0,NaN,NaN
4,5,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,2000,1,1,...,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,2917,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0,NaN,NaN
2933,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4,NaN,NaN
2934,2919,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5,NaN,NaN
2935,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0,NaN,NaN
2936,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5,NaN,NaN

In [135]:
median_value = merged_df['market_int'].median()
merged_df['market_int'] = merged_df['market_int'].fillna(round(median_value/2,2))
merged_df

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,Market value,market_int
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7,€20.00m,20.0
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8,NaN,14.0
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0,NaN,14.0
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0,NaN,14.0
4,5,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,2000,1,1,...,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0,NaN,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,2917,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0,NaN,14.0
2933,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4,NaN,14.0
2934,2919,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5,NaN,14.0
2935,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0,NaN,14.0
2936,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5,NaN,14.0

On remplace la valeur manquante au niveau de la valeur marchande par la moitié de la médiane de notre échantillon. Afin de ne pas biaiser les valeurs existantes

In [136]:
merged_df = merged_df.drop_duplicates(["Player"], keep = "first")
merged_df

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,Market value,market_int
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7,€20.00m,20.0
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8,NaN,14.0
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0,NaN,14.0
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0,NaN,14.0
4,5,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,2000,1,1,...,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0,NaN,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,2917,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0,NaN,14.0
2933,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4,NaN,14.0
2934,2919,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5,NaN,14.0
2935,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0,NaN,14.0
2936,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5,NaN,14.0

On remarque des valeurs en double dans la colonne 'nom des joueurs' ("Player"), on décide donc de garder le premier élément qui apparaît et de supprimer le second. Ceci étant expliqué par le fait qu'un joueur peut changer d'équipe en cours de saison, ce qui montre pourquoi ce joueur apparaît deux fois dans le dataset et possède des performances différentes.

## **Étude de nos données (df_football_stats)**

In [137]:
df_football_stats = pd.DataFrame()

In [138]:
df_football_stats['Player'] = merged_df['Player']
df_football_stats['Nation'] = merged_df['Nation']
df_football_stats['Pos'] = merged_df['Pos']
df_football_stats['Squad'] = merged_df['Squad']
df_football_stats['Comp'] = merged_df['Comp']
df_football_stats['Age'] = merged_df['Age']
df_football_stats['MarketValue (M €)'] = merged_df['market_int']
df_football_stats['MP'] = merged_df['MP']
df_football_stats['G/90'] = merged_df['Goals']
df_football_stats['G/Sh'] = merged_df['G/Sh']
df_football_stats['PKGoals'] = ((merged_df['ShoPK'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['PKAttempted'] = ((merged_df['PKatt'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Goals'] = ((merged_df['Goals'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Pass'] = ((merged_df['PasTotAtt'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['PassCompleted'] = ((merged_df['PasTotCmp'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['PassComp%'] = ((df_football_stats['PassCompleted'] / df_football_stats['Pass']) * 100).round(2)
df_football_stats['Assist'] = ((merged_df['Assists'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Cross'] = ((merged_df['PasCrs'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['CrossCompleted'] = ((merged_df['CrsPA'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['CrossComp%'] = ((df_football_stats['CrossCompleted'] / df_football_stats['Cross']) * 100).round(2)
df_football_stats['Tackle_Won'] = ((merged_df['TklWon'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['SucDribble'] = ((merged_df['DriSucc'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Dribble'] = ((merged_df['DriAtt'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['DribbleComp%'] = ((df_football_stats['SucDribble'] / df_football_stats['Dribble']) * 100).round(2)
df_football_stats['YCards'] = ((merged_df['CrdY'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['RCards'] = ((merged_df['CrdR'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Fls'] = ((merged_df['Fls'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Fld'] = ((merged_df['Fld'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['OGoals'] = ((merged_df['OG'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['AerWon'] = ((merged_df['AerWon'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['AerLost'] = ((merged_df['AerLost'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['AerWon%'] = ((merged_df['AerWon'] / (merged_df['AerWon'] + merged_df['AerLost'])) * 100).round(2)

### Top 10 des meilleurs buteurs

In [139]:
(df_football_stats[(df_football_stats.MP >= 20) & (df_football_stats.Pos != 'GK')].sort_values('Goals', ascending = False).head(10).iloc[:, [0,1,2,3,4,5,6,7,12]])

,Player,Nation,Pos,Squad,Comp,Age,MarketValue (M €),MP,Goals
1519,Robert Lewandowski,POL,FW,Bayern Munich,Bundesliga,33.0,56.0,34,35
1730,Kylian Mbappé,FRA,FW,Paris S-G,Ligue 1,23.0,180.0,35,28
285,Karim Benzema,FRA,FW,Real Madrid,La Liga,34.0,32.0,32,27
1243,Ciro Immobile,ITA,FW,Lazio,Serie A,32.0,40.0,31,27
266,Wissam Ben Yedder,FRA,FW,Monaco,Ligue 1,31.0,40.0,37,25
2437,Patrik Schick,CZE,FW,Leverkusen,Bundesliga,26.0,25.0,27,24
1187,Son Heung-min,KOR,FWMF,Tottenham,Premier League,29.0,14.0,35,23
2372,Mohamed Salah,EGY,FW,Liverpool,Premier League,29.0,120.0,35,23
1124,Erling Haaland,NOR,FW,Dortmund,Bundesliga,21.0,72.0,24,22
2646,Martin Terrier,FRA,FWMF,Rennes,Ligue 1,25.0,14.0,37,21

### Top 5 des clubs qui marquent le +

In [140]:
team_goals = df_football_stats.groupby(['Squad']).agg(Team_Goals = ('Goals', 'sum'))
team_goals = pd.DataFrame(team_goals).reset_index()
team_goals.sort_values('Team_Goals', ascending = False).head(5)

              Squad  Team_Goals
56  Manchester City          96
50        Liverpool          94
10    Bayern Munich          91
69        Paris S-G          88
40            Inter          83

### Top 10 Players with most Assists

In [141]:
df_football_stats.sort_values('Assist', ascending = False).head(10).iloc[:, [0,1,2,3,4,5,6,16]]

,Player,Nation,Pos,Squad,Comp,Age,MarketValue (M €),Assist
1730,Kylian Mbappé,FRA,FW,Paris S-G,Ligue 1,23.0,180.0,18
1879,Thomas M¸ller,GER,MF,Bayern Munich,Bundesliga,32.0,14.0,18
1784,Lionel Messi,ARG,FWMF,Paris S-G,Ligue 1,34.0,112.0,14
287,Domenico Berardi,ITA,FW,Sassuolo,Serie A,27.0,19.0,14
1954,Christopher Nkunku,FRA,FWMF,RB Leipzig,Bundesliga,24.0,33.0,13
673,Ousmane Dembélé,FRA,FW,Barcelona,La Liga,25.0,56.0,13
2253,Marco Reus,GER,MFFW,Dortmund,Bundesliga,32.0,25.0,13
2372,Mohamed Salah,EGY,FW,Liverpool,Premier League,29.0,120.0,13
435,Hakan «alhanolu,TUR,MF,Inter,Serie A,28.0,14.0,12
356,Benjamin Bourigeaud,FRA,FWMF,Rennes,Ligue 1,28.0,14.0,12

### Top 5 des clubs qui ont le + d'assist

In [142]:
team_assist = df_football_stats.groupby(['Squad']).agg(Team_Assist = ('Assist', 'sum'))
team_assist = pd.DataFrame(team_assist).reset_index()
team_assist.sort_values('Team_Assist', ascending = False).head(5)

              Squad  Team_Assist
50        Liverpool           71
10    Bayern Munich           69
69        Paris S-G           65
56  Manchester City           63
75           Rennes           60

### Top 5 des clubs qui ont reçu le plus de carton jaune

In [143]:
team_yc = df_football_stats.groupby(['Squad']).agg(Team_YCards = ('YCards', 'sum'))
team_yc = pd.DataFrame(team_yc).reset_index()
team_yc.sort_values('Team_YCards', ascending = False).head(5)

       Squad  Team_YCards
34    Getafe          115
76      Roma          109
55  Mallorca          108
92   Venezia          107
47   Levante          107

### Top 10 des clubs qui ont les joueurs dotés d'une valeur marchande élevé

In [144]:
team_mv = df_football_stats.groupby(['Squad']).agg(Team_MValue = ('MarketValue (M €)', 'sum'))
team_mv = pd.DataFrame(team_mv).reset_index()
team_mv.sort_values('Team_MValue', ascending = False).head(10)

              Squad  Team_MValue
69        Paris S-G       1183.5
50        Liverpool       1037.0
56  Manchester City        979.5
9         Barcelona        959.5
57   Manchester Utd        881.0
72      Real Madrid        873.0
21          Chelsea        815.0
10    Bayern Munich        783.5
25         Dortmund        645.0
41         Juventus        641.0

### Top 5 des nations qui ont les joueurs dotés d'une valeur marchande élevé

In [145]:
df_mv_sorted = df_football_stats.sort_values('MarketValue (M €)', ascending = False)

# group by nation and get the top 5 players by market value
df_top5 = df_mv_sorted.groupby("Nation").agg(Team_MValue = ('MarketValue (M €)', 'sum'))
interteam_mv = pd.DataFrame(df_top5).reset_index()
interteam_mv.sort_values('Team_MValue', ascending = False).head(10)

   Nation  Team_MValue
34    ESP       6412.0
36    FRA       6404.0
40    GER       4017.0
32    ENG       3997.0
53    ITA       3707.5
11    BRA       2164.5
67    NED       1410.0
3     ARG       1208.0
77    POR       1038.0
7     BEL        934.5

### Top 5 joueurs par nation qui ont la valeur marchande la + élevé

In [146]:
df_joueur_nation = df_football_stats.groupby("Nation").apply(lambda x: x.nlargest(5, "MarketValue (M €)")).reset_index(drop=True)
df_joueur_nation.head(20).iloc[:, [0,1,2,3,4,5,6]]

,Player,Nation,Pos,Squad,Comp,Age,MarketValue (M €)
0,Marash Kumbulla,ALB,DF,Roma,Serie A,22.0,22.5
1,Thomas Strakosha,ALB,GK,Lazio,Serie A,27.0,20.0
2,Kristjan Asllani,ALB,MF,Empoli,Serie A,20.0,14.0
3,Nedim Bajrami,ALB,MFFW,Empoli,Serie A,23.0,14.0
4,Iv·n Balliu,ALB,DF,Rayo Vallecano,La Liga,30.0,14.0
5,Riyad Mahrez,ALG,FW,Manchester City,Premier League,31.0,48.0
6,Youcef Atal,ALG,DF,Nice,Ligue 1,26.0,20.0
7,Youcef BelaÔli,ALG,MFFW,Brest,Ligue 1,30.0,14.0
8,Ishak Belfodil,ALG,FW,Hertha BSC,Bundesliga,30.0,14.0
9,Haris Belkebla,ALG,MF,Brest,Ligue 1,28.0,14.0
10,Hélder Costa,ANG,MFFW,Valencia,La Liga,28.0,14.0
11,Anderson Lucoqui,ANG,DF,Mainz 05,Bundesliga,24.0,14.0
12,M'Bala Nzola,ANG,FW,Spezia,Serie A,25.0,14.0
13,Lionel Messi,ARG,FWMF,Paris S-G,Ligue 1,34.0,112.0
14,Paulo Dybala,ARG,FWMF,Juventus,Serie A,28.0,72.0
15,Mauro Icardi,ARG,FW,Paris S-G,Ligue 1,29.0,60.0
16,Giovani Lo Celso,ARG,MFFW,Tottenham,Premier League,26.0,40.0
17,Lucas Ocampos,ARG,FW,Sevilla,La Liga,27.0,32.0
18,Henrikh Mkhitaryan,ARM,MFFW,Roma,Serie A,33.0,20.0
19,Sargis Adamyan,ARM,FWMF,Hoffenheim,Bundesliga,29.0,14.0

## **Étapes formatage à réaliser sur PySpark**

Doit afficher les 11 meilleurs joueurs de chaque nation selon leur valeur marchande

In [147]:
df_football_stats = pd.DataFrame()

In [148]:
df_football_stats['Player'] = merged_df['Player']
df_football_stats['Nation'] = merged_df['Nation']
df_football_stats['Pos'] = merged_df['Pos']
df_football_stats['Squad'] = merged_df['Squad']
df_football_stats['Comp'] = merged_df['Comp']
df_football_stats['Age'] = merged_df['Age']
df_football_stats['Year'] = merged_df['Born']
df_football_stats['MarketValue (M €)'] = merged_df['market_int']
df_football_stats['MP'] = merged_df['MP']
df_football_stats['G/90'] = merged_df['Goals']
df_football_stats['Goals'] = ((merged_df['Goals'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Pass'] = ((merged_df['PasTotAtt'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['PassCompleted'] = ((merged_df['PasTotCmp'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['PassComp%'] = ((df_football_stats['PassCompleted'] / df_football_stats['Pass']) * 100).round(2)
df_football_stats['Assist'] = ((merged_df['Assists'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Cross'] = ((merged_df['PasCrs'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['CrossCompleted'] = ((merged_df['CrsPA'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['CrossComp%'] = ((df_football_stats['CrossCompleted'] / df_football_stats['Cross']) * 100).round(2)
df_football_stats['Tackle_Won'] = ((merged_df['TklWon'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['SucDribble'] = ((merged_df['DriSucc'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Dribble'] = ((merged_df['DriAtt'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['DribbleComp%'] = ((df_football_stats['SucDribble'] / df_football_stats['Dribble']) * 100).round(2)

Top 11 joueurs selon leur Market Value pour chaque Nation

In [149]:
df_joueur_nation = df_football_stats.groupby("Nation").apply(lambda x: x.nlargest(11, "MarketValue (M €)")).reset_index(drop=True)
df_joueur_nation.head(33).iloc[:, [0,1,2,3,4,5,6, 7, 8, 10, 14,17,18,21]]

,Player,Nation,Pos,Squad,Comp,Age,Year,MarketValue (M €),MP,Goals,Assist,CrossComp%,Tackle_Won,DribbleComp%
0,Marash Kumbulla,ALB,DF,Roma,Serie A,22.0,2000,22.5,17,0,0,0.00,19,NaN
1,Thomas Strakosha,ALB,GK,Lazio,Serie A,27.0,1995,20.0,23,0,0,NaN,0,NaN
2,Kristjan Asllani,ALB,MF,Empoli,Serie A,20.0,2002,14.0,23,1,1,7.69,14,41.67
3,Nedim Bajrami,ALB,MFFW,Empoli,Serie A,23.0,1999,14.0,35,6,5,15.15,28,52.31
4,Iv·n Balliu,ALB,DF,Rayo Vallecano,La Liga,30.0,1992,14.0,35,1,2,34.52,15,44.83
5,Keidi Bare,ALB,MF,Espanyol,La Liga,24.0,1997,14.0,25,1,1,14.29,20,45.00
6,Etrit Berisha,ALB,GK,Torino,Serie A,33.0,1989,14.0,10,0,0,NaN,0,NaN
7,Armando Broja,ALB,FW,Southampton,Premier League,20.0,2001,14.0,32,6,0,0.00,12,48.44
8,Berat Djimsiti,ALB,DF,Atalanta,Serie A,29.0,1993,14.0,31,1,1,70.00,31,70.00
9,Elseid Hysaj,ALB,DF,Lazio,Serie A,28.0,1994,14.0,29,1,0,18.18,24,46.88
10,Ardian Ismajli,ALB,DF,Empoli,Serie A,25.0,1996,14.0,20,0,0,0.00,8,100.00
11,Riyad Mahrez,ALG,FW,Manchester City,Premier League,31.0,1991,48.0,28,11,5,11.11,6,59.09
12,Youcef Atal,ALG,DF,Nice,Ligue 1,26.0,1996,20.0,17,2,1,14.58,21,50.00
13,Youcef BelaÔli,ALG,MFFW,Brest,Ligue 1,30.0,1992,14.0,13,3,2,5.26,2,55.26
14,Ishak Belfodil,ALG,FW,Hertha BSC,Bundesliga,30.0,1992,14.0,26,5,2,5.56,6,48.72
15,Haris Belkebla,ALG,MF,Brest,Ligue 1,28.0,1994,14.0,31,0,0,63.64,32,63.64
16,IsmaÎl Bennacer,ALG,MF,Milan,Serie A,24.0,1997,14.0,31,2,1,26.67,38,84.78
17,SaÔd Benrahma,ALG,FWMF,West Ham,Premier League,26.0,1995,14.0,32,8,6,18.75,23,41.98
18,Ramy Bensebaini,ALG,DF,M'Gladbach,Bundesliga,27.0,1995,14.0,23,4,1,37.50,27,58.06
19,Nabil Bentaleb,ALG,MF,Angers,Ligue 1,27.0,1994,14.0,18,1,0,0.00,35,66.67
20,Hicham Boudaoui,ALG,MF,Nice,Ligue 1,22.0,1999,14.0,29,3,2,19.05,21,51.28
21,Ryad Boudebouz,ALG,MFFW,Saint-…tienne,Ligue 1,32.0,1990,14.0,30,3,4,8.00,19,70.00
22,Hélder Costa,ANG,MFFW,Valencia,La Liga,28.0,1994,14.0,22,0,1,18.92,17,51.85
23,Anderson Lucoqui,ANG,DF,Mainz 05,Bundesliga,24.0,1997,14.0,13,1,0,18.18,17,14.29
24,M'Bala Nzola,ANG,FW,Spezia,Serie A,25.0,1996,14.0,21,2,1,0.00,3,61.11
25,Lionel Messi,ARG,FWMF,Paris S-G,Ligue 1,34.0,1987,112.0,26,6,14,27.78,7,64.81
26,Paulo Dybala,ARG,FWMF,Juventus,Serie A,28.0,1993,72.0,29,10,5,21.21,15,54.84
27,Mauro Icardi,ARG,FW,Paris S-G,Ligue 1,29.0,1993,60.0,24,4,0,0.00,3,28.57
28,Giovani Lo Celso,ARG,MFFW,Tottenham,Premier League,26.0,1996,40.0,9,0,0,0.00,3,75.00
29,Lucas Ocampos,ARG,FW,Sevilla,La Liga,27.0,1994,32.0,30,6,4,8.47,27,45.56
30,Leandro Paredes,ARG,MF,Paris S-G,Ligue 1,27.0,1994,20.0,15,1,2,NaN,19,66.67
31,Exequiel Palacios,ARG,MF,Leverkusen,Bundesliga,23.0,1998,18.0,23,2,2,0.00,26,58.33
32,Marcos AcuÒa,ARG,DF,Sevilla,La Liga,30.0,1991,14.0,31,1,3,18.55,39,69.23

In [150]:
df_joueur_nation.shape

(686, 22)

On remarque qu'il y a des Nations qui ne possèdent pas tous 11 joueurs. Donc on a besoin d'appliquer un filtre afin d'avoir uniquement les nations dotées d'au moins 11 joueurs.

Top 11 joueurs par Nation selon critères de performance

In [151]:
filtered_df = df_football_stats.groupby("Nation").filter(lambda x: len(x) >= 11).groupby("Nation").apply(
    lambda x: x[((x['Goals'] >= 10) |
                 (x['Assist'] >= 10) |
                 (x['MP'] >= 20) |
                 (x['Tackle_Won'] >= 20) |
                 (x['CrossComp%'] >= 70) |
                 (x['DribbleComp%'] >= 70) |
                 (x['MarketValue (M €)'] >= 20)) & (x['Pos'] != "GK")].head(10)
).reset_index(drop=True)

gk_df = df_football_stats.groupby("Nation").filter(lambda x: len(x) >= 11).groupby("Nation").apply(
    lambda x: x[((x['Pos'] == 'GK') &
                 (x['MP'] >= 10) |
                 (x['Pos'] == 'GK') &
                 (x['MarketValue (M €)'] >= 15))].head(1)
)

filtered_df = pd.concat([filtered_df, gk_df]).reset_index(drop=True)

filtered_df = filtered_df.iloc[:, [0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 14, 17, 18, 21]]

filtered_df = filtered_df.sort_values(by='Nation')  # Sort by 'Nation' column
filtered_df.reset_index(drop=True, inplace=True)  # Reset the index

filtered_df.head(34)

,Player,Nation,Pos,Squad,Comp,Age,Year,MarketValue (M €),MP,Goals,Assist,CrossComp%,Tackle_Won,DribbleComp%
0,Kristjan Asllani,ALB,MF,Empoli,Serie A,20.0,2002,14.0,23,1,1,7.69,14,41.67
1,Rey Manaj,ALB,FW,Spezia,Serie A,25.0,1997,14.0,30,5,0,16.67,10,38.00
2,Marash Kumbulla,ALB,DF,Roma,Serie A,22.0,2000,22.5,17,0,0,0.00,19,NaN
3,Ardian Ismajli,ALB,DF,Empoli,Serie A,25.0,1996,14.0,20,0,0,0.00,8,100.00
4,Elseid Hysaj,ALB,DF,Lazio,Serie A,28.0,1994,14.0,29,1,0,18.18,24,46.88
5,Etrit Berisha,ALB,GK,Torino,Serie A,33.0,1989,14.0,10,0,0,NaN,0,NaN
6,Armando Broja,ALB,FW,Southampton,Premier League,20.0,2001,14.0,32,6,0,0.00,12,48.44
7,Keidi Bare,ALB,MF,Espanyol,La Liga,24.0,1997,14.0,25,1,1,14.29,20,45.00
8,Iv·n Balliu,ALB,DF,Rayo Vallecano,La Liga,30.0,1992,14.0,35,1,2,34.52,15,44.83
9,Nedim Bajrami,ALB,MFFW,Empoli,Serie A,23.0,1999,14.0,35,6,5,15.15,28,52.31
10,Berat Djimsiti,ALB,DF,Atalanta,Serie A,29.0,1993,14.0,31,1,1,70.00,31,70.00
11,Alexandre Oukidja,ALG,GK,Metz,Ligue 1,33.0,1988,14.0,21,0,0,NaN,0,NaN
12,Farid Boulaya,ALG,MFFW,Metz,Ligue 1,29.0,1993,14.0,24,4,2,13.16,9,55.56
13,Ryad Boudebouz,ALG,MFFW,Saint-…tienne,Ligue 1,32.0,1990,14.0,30,3,4,8.00,19,70.00
14,Hicham Boudaoui,ALG,MF,Nice,Ligue 1,22.0,1999,14.0,29,3,2,19.05,21,51.28
15,Nabil Bentaleb,ALG,MF,Angers,Ligue 1,27.0,1994,14.0,18,1,0,0.00,35,66.67
16,Ramy Bensebaini,ALG,DF,M'Gladbach,Bundesliga,27.0,1995,14.0,23,4,1,37.50,27,58.06
17,SaÔd Benrahma,ALG,FWMF,West Ham,Premier League,26.0,1995,14.0,32,8,6,18.75,23,41.98
18,IsmaÎl Bennacer,ALG,MF,Milan,Serie A,24.0,1997,14.0,31,2,1,26.67,38,84.78
19,Haris Belkebla,ALG,MF,Brest,Ligue 1,28.0,1994,14.0,31,0,0,63.64,32,63.64
20,Ishak Belfodil,ALG,FW,Hertha BSC,Bundesliga,30.0,1992,14.0,26,5,2,5.56,6,48.72
21,Youcef Atal,ALG,DF,Nice,Ligue 1,26.0,1996,20.0,17,2,1,14.58,21,50.00
22,Walter BenÌtez,ARG,GK,Nice,Ligue 1,29.0,1993,14.0,37,0,0,NaN,0,NaN
23,Guido Carrillo,ARG,FW,Elche,La Liga,31.0,1991,14.0,29,2,0,33.33,7,66.67
24,Emi BuendÌa,ARG,FWMF,Aston Villa,Premier League,25.0,1996,14.0,35,4,6,15.79,31,58.82
25,Lucas Boyé,ARG,FW,Elche,La Liga,26.0,1996,14.0,24,7,3,0.00,17,57.14
26,Sergio Ag¸ero,ARG,FW,Barcelona,La Liga,33.0,1988,14.0,4,1,0,0.00,1,100.00
27,Leonardo Balerdi,ARG,DF,Marseille,Ligue 1,23.0,1999,14.0,17,0,0,NaN,8,80.00
28,Ezequiel ¡vila,ARG,FWMF,Osasuna,La Liga,28.0,1994,14.0,36,6,1,29.31,9,38.71
29,Santiago AscacÌbar,ARG,MF,Hertha BSC,Bundesliga,25.0,1997,14.0,28,0,1,0.00,61,53.33
30,Lucas Alario,ARG,FW,Leverkusen,Bundesliga,29.0,1992,14.0,27,6,0,0.00,4,84.62
31,Marcos AcuÒa,ARG,DF,Sevilla,La Liga,30.0,1991,14.0,31,1,3,18.55,39,69.23
32,Rodrigo Battaglia,ARG,MF,Mallorca,La Liga,30.0,1991,14.0,26,0,0,NaN,30,57.14
33,Stefan Ilsanker,AUT,DFMF,Eint Frankfurt,Bundesliga,33.0,1989,14.0,12,0,0,NaN,8,100.00

En affichant les 34 premières valeurs, on remarque bien qu'il y a 11 joueurs au total dont un gardien pour chaque équipe

Alternative pour prendre en compte les joueurs selon leur valeur marchande

In [156]:
df_football_stat = df_football_stats.copy()

df_football_stat = df_football_stat.sort_values(by='MarketValue (M €)', ascending=False) 
filtered_df = df_football_stat.groupby("Nation").filter(lambda x: len(x) >= 11).groupby("Nation").apply(
    lambda x: x[((x['Goals'] >= 10) |
                 (x['Assist'] >= 10) |
                 (x['MP'] >= 20) |
                 (x['Tackle_Won'] >= 20) |
                 (x['CrossComp%'] >= 70) |
                 (x['DribbleComp%'] >= 70) |
                 (x['MarketValue (M €)'] >= 20)) & (x['Pos'] != "GK")].head(10)
).reset_index(drop=True)

df_football_stat = df_football_stat.sort_values(by='MarketValue (M €)', ascending=False) 
gk_df = df_football_stat.groupby("Nation").filter(lambda x: len(x) >= 11).groupby("Nation").apply(
    lambda x: x[((x['Pos'] == 'GK') &
                 (x['MP'] >= 15) |
                 (x['Pos'] == 'GK') &
                 (x['MarketValue (M €)'] >= 15))].head(1)
)

filtered_df = pd.concat([filtered_df, gk_df]).reset_index(drop=True)

filtered_df = filtered_df.iloc[:, [0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 14, 17, 18, 21]]

filtered_df = filtered_df.sort_values(by='Nation')  # Sort by 'Nation' column
filtered_df.reset_index(drop=True, inplace=True)  # Reset the index

filtered_df.head(34)

,Player,Nation,Pos,Squad,Comp,Age,Year,MarketValue (M €),MP,Goals,Assist,CrossComp%,Tackle_Won,DribbleComp%
0,Marash Kumbulla,ALB,DF,Roma,Serie A,22.0,2000,22.5,17,0,0,0.00,19,NaN
1,Ardian Ismajli,ALB,DF,Empoli,Serie A,25.0,1996,14.0,20,0,0,0.00,8,100.00
2,Keidi Bare,ALB,MF,Espanyol,La Liga,24.0,1997,14.0,25,1,1,14.29,20,45.00
3,Armando Broja,ALB,FW,Southampton,Premier League,20.0,2001,14.0,32,6,0,0.00,12,48.44
4,Iv·n Balliu,ALB,DF,Rayo Vallecano,La Liga,30.0,1992,14.0,35,1,2,34.52,15,44.83
5,Thomas Strakosha,ALB,GK,Lazio,Serie A,27.0,1995,20.0,23,0,0,NaN,0,NaN
6,Kristjan Asllani,ALB,MF,Empoli,Serie A,20.0,2002,14.0,23,1,1,7.69,14,41.67
7,Berat Djimsiti,ALB,DF,Atalanta,Serie A,29.0,1993,14.0,31,1,1,70.00,31,70.00
8,Freddie Veseli,ALB,DF,Salernitana,Serie A,29.0,1992,14.0,9,0,0,50.00,3,75.00
9,Rey Manaj,ALB,FW,Spezia,Serie A,25.0,1997,14.0,30,5,0,16.67,10,38.00
10,Nedim Bajrami,ALB,MFFW,Empoli,Serie A,23.0,1999,14.0,35,6,5,15.15,28,52.31
11,SaÔd Benrahma,ALG,FWMF,West Ham,Premier League,26.0,1995,14.0,32,8,6,18.75,23,41.98
12,IsmaÎl Bennacer,ALG,MF,Milan,Serie A,24.0,1997,14.0,31,2,1,26.67,38,84.78
13,Farid Boulaya,ALG,MFFW,Metz,Ligue 1,29.0,1993,14.0,24,4,2,13.16,9,55.56
14,Ryad Boudebouz,ALG,MFFW,Saint-…tienne,Ligue 1,32.0,1990,14.0,30,3,4,8.00,19,70.00
15,Alexandre Oukidja,ALG,GK,Metz,Ligue 1,33.0,1988,14.0,21,0,0,NaN,0,NaN
16,Andy Delort,ALG,FW,Nice,Ligue 1,30.0,1991,14.0,32,16,2,18.37,10,37.50
17,Riyad Mahrez,ALG,FW,Manchester City,Premier League,31.0,1991,48.0,28,11,5,11.11,6,59.09
18,Youcef Atal,ALG,DF,Nice,Ligue 1,26.0,1996,20.0,17,2,1,14.58,21,50.00
19,Hicham Boudaoui,ALG,MF,Nice,Ligue 1,22.0,1999,14.0,29,3,2,19.05,21,51.28
20,Islam Slimani,ALG,FW,Lyon,Ligue 1,33.0,1988,14.0,12,1,1,0.00,2,100.00
21,Adam Ounas,ALG,MFFW,Napoli,Serie A,25.0,1996,14.0,15,0,0,30.00,3,77.27
22,Lionel Messi,ARG,FWMF,Paris S-G,Ligue 1,34.0,1987,112.0,26,6,14,27.78,7,64.81
23,Paulo Dybala,ARG,FWMF,Juventus,Serie A,28.0,1993,72.0,29,10,5,21.21,15,54.84
24,Mauro Icardi,ARG,FW,Paris S-G,Ligue 1,29.0,1993,60.0,24,4,0,0.00,3,28.57
25,Giovani Lo Celso,ARG,MFFW,Tottenham,Premier League,26.0,1996,40.0,9,0,0,0.00,3,75.00
26,Lucas Ocampos,ARG,FW,Sevilla,La Liga,27.0,1994,32.0,30,6,4,8.47,27,45.56
27,Exequiel Palacios,ARG,MF,Leverkusen,Bundesliga,23.0,1998,18.0,23,2,2,0.00,26,58.33
28,Roberto Pereyra,ARG,MFFW,Udinese,Serie A,31.0,1991,14.0,24,3,5,8.00,9,46.81
29,José Luis Palomino,ARG,DF,Atalanta,Serie A,32.0,1990,14.0,34,1,0,14.29,66,50.00
30,Lucas MartÌnez Quarta,ARG,DF,Fiorentina,Serie A,26.0,1996,14.0,20,1,0,0.00,25,86.67
31,Walter BenÌtez,ARG,GK,Nice,Ligue 1,29.0,1993,14.0,37,0,0,NaN,0,NaN
32,Leandro Paredes,ARG,MF,Paris S-G,Ligue 1,27.0,1994,20.0,15,1,2,NaN,19,66.67
33,Hannes Wolf,AUT,FWMF,M'Gladbach,Bundesliga,23.0,1999,14.0,7,0,0,25.00,10,80.00

**Bonus :** les 11 titulaires de l'EDF (2021 - 2022) en vue des matchs de qualifications de la CDM 2022 (recommandé selon les performances des joueurs)

In [157]:
filtered_df_fra = filtered_df[filtered_df['Nation'] == "FRA"]
filtered_df_fra.reset_index(drop=True, inplace=True)
filtered_df_fra

,Player,Nation,Pos,Squad,Comp,Age,Year,MarketValue (M €),MP,Goals,Assist,CrossComp%,Tackle_Won,DribbleComp%
0,Hugo Lloris,FRA,GK,Tottenham,Premier League,35.0,1986,32.0,38,0,0,NaN,0,NaN
1,Houssem Aouar,FRA,MFFW,Lyon,Ligue 1,23.0,1998,49.5,36,6,4,14.29,33,55.15
2,Kylian Mbappé,FRA,FW,Paris S-G,Ligue 1,23.0,1998,180.0,35,28,18,16.28,11,49.52
3,Antoine Griezmann,FRA,FW,Barcelona,La Liga,31.0,1991,96.0,3,0,0,NaN,6,50.00
4,N'Golo Kanté,FRA,MF,Chelsea,Premier League,31.0,1991,80.0,26,2,4,0.00,34,67.39
5,Paul Pogba,FRA,MFFW,Manchester Utd,Premier League,29.0,1993,80.0,20,1,9,33.33,13,76.92
6,Ousmane Dembélé,FRA,FW,Barcelona,La Liga,25.0,1997,56.0,21,1,13,13.54,19,62.64
7,Anthony Martial,FRA,FWMF,Sevilla,La Liga,26.0,1995,48.0,9,0,1,14.29,4,38.89
8,Clément Lenglet,FRA,DF,Barcelona,La Liga,26.0,1995,48.0,21,0,1,NaN,13,33.33
9,Alexandre Lacazette,FRA,FWMF,Arsenal,Premier League,31.0,1991,48.0,30,4,7,14.29,19,56.67
10,Dayot Upamecano,FRA,DF,Bayern Munich,Bundesliga,23.0,1998,45.0,28,1,6,0.00,33,90.91