<a href="https://colab.research.google.com/github/PuchToTalk/Football_market-value/blob/Data-Analysis/Football_player_mv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [113]:
# importer librairies 
from google.colab import files
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import datetime as dt
from pylab import savefig

### **Source de données 1 (df_perf) : Performance des joueurs**

In [114]:
df_perf = pd.read_csv("foot_perf.csv")
df_perf

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,0.03,1.41,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,0.00,0.06,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,0.00,0.36,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,0.03,0.79,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0
4,5,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,2000,1,1,...,0.00,2.00,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2916,2917,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,0.10,0.10,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0
2917,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,0.00,0.74,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4
2918,2919,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.10,0.84,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5
2919,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.25,0.29,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0
2920,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.27,0.00,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5

### **Source de données 2 (df_mv) : Valeur marchande des joueurs**

In [115]:
df_mv = pd.read_csv("only_mv2.csv")
df_mv = df_mv.drop(columns = df_mv.columns[0], axis = 1)
df_mv = df_mv.drop(["Nation", "Pos"], axis = 1)
df_mv

              Player Market value
0      Kylian Mbappé     €180.00m
1    Raheem Sterling     €128.00m
2             Neymar     €128.00m
3         Sadio Mané     €120.00m
4      Mohamed Salah     €120.00m
..               ...          ...
513     Breel Embolo      €16.00m
514     Nadiem Amiri      €16.00m
515    Lucas Vázquez      €16.00m
516     Jeremie Boga      €16.00m
517      Hugo Lloris      €32.00m

[518 rows x 2 columns]

### Focus sur les données complété côté Market value rattaché à la performance du joueur

In [116]:
merged_df = pd.merge(df_perf, df_mv, on='Player', how='left')
merged_df

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,Market value
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,1.41,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7,€20.00m
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,0.06,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8,NaN
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,0.36,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0,NaN
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,0.79,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0,NaN
4,5,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,2000,1,1,...,2.00,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,2917,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,0.10,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0,NaN
2933,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,0.74,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4,NaN
2934,2919,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.84,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5,NaN
2935,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.29,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0,NaN
2936,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.00,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5,NaN

In [117]:
df_filtered = merged_df[merged_df["Market value"].notnull()]
df_filtered

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,Market value
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,1.41,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7,€20.00m
7,8,Tammy Abraham,ENG,FW,Roma,Serie A,24.0,1997,37,36,...,0.70,0.64,0.03,0.03,0.00,3.67,2.39,2.89,45.3,€40.00m
37,38,Manuel Akanji,SUI,DF,Dortmund,Bundesliga,26.0,1995,26,25,...,0.08,1.43,0.00,0.00,0.04,9.56,2.55,1.55,62.1,€20.00m
40,41,Nathan Aké,NED,DF,Manchester City,Premier League,27.0,1995,14,10,...,0.00,0.49,0.00,0.00,0.00,7.57,3.98,0.78,83.7,€28.00m
46,47,David Alaba,AUT,DF,Real Madrid,La Liga,29.0,1992,30,30,...,1.09,0.61,0.00,0.00,0.00,6.43,0.78,0.78,50.0,€65.00m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2899,2884,Denis Zakaria,SUI,MFDF,M'Gladbach,Bundesliga,25.0,1996,16,15,...,0.32,1.23,0.00,0.06,0.00,10.90,0.90,0.97,48.3,€40.00m
2923,2908,Oleksandr Zinchenko,UKR,DF,Manchester City,Premier League,25.0,1996,15,10,...,2.41,0.95,0.00,0.00,0.00,9.83,1.47,1.38,51.5,€24.00m
2924,2909,Hakim Ziyech,MAR,FWMF,Chelsea,Premier League,29.0,1993,23,14,...,4.42,0.75,0.00,0.00,0.00,8.91,0.75,1.22,37.9,€40.00m
2929,2914,Kurt Zouma,FRA,DF,West Ham,Premier League,27.0,1994,24,24,...,0.09,0.22,0.00,0.00,0.04,7.10,2.38,1.08,68.8,€28.00m
2931,2916,Igor Zubeldia,ESP,DF,Real Sociedad,La Liga,25.0,1997,26,19,...,0.22,0.82,0.00,0.05,0.00,9.18,2.62,2.13,55.2,€24.00m

On remarque que après jointure des deux en commun. On a réduit massivement les données à disposition. Nous travaillerons de ce fait sur le remplissage des valeurs manquantes

### **Nettoyage et analyse du jeu de données "merged_df"**

In [118]:
merged_df.isnull().sum().sum()

2547

In [119]:
merged_df.columns[merged_df.isnull().any()].tolist()

['Nation', 'Age', 'Market value']

In [120]:
merged_df['Pos'].unique()

array(['DF', 'MF', 'FW', 'MFFW', 'FWMF', 'GK', 'DFMF', 'FWDF', 'MFDF',
       'DFFW', 'GKMF'], dtype=object)

In [121]:
merged_df['Nation'].unique()

array(['ENG', 'MAR', 'GHA', 'FRA', 'NGA', 'PER', 'ITA', 'GER', 'ARG',
       'SCO', 'USA', 'ARM', 'SUI', 'ESP', 'COL', 'BIH', 'CIV', 'NOR',
       'REU', 'EQG', 'NED', 'AUT', 'CHI', 'GUF', 'PAR', 'TUR', 'ROU',
       'BRA', 'GAB', 'SEN', 'WAL', 'DEN', 'SWE', 'PAN', 'JAM', 'URU',
       'MEX', 'JPN', 'KVX', 'ALB', 'TOG', 'ALG', 'IRN', 'CRO', 'LUX',
       'CMR', 'COD', 'GRN', 'CZE', 'MKD', 'GAM', 'GUI', 'CPV', 'SUR',
       'POL', 'SVN', 'SVK', 'BEL', 'ISL', 'GNB', 'MLI', 'SRB', 'TUN',
       'NZL', 'ECU', 'POR', 'NIR', 'RUS', 'IRL', 'VEN', 'ANG', 'ISR',
       'ZAM', 'CAN', 'MTQ', 'KOR', 'GRE', 'BEN', 'CRC', 'HON', 'EGY',
       'MAD', 'FIN', 'CGO', 'DOM', 'HUN', 'PHI', 'BUL', 'AUS', 'UKR',
       'MNE', 'BFA', 'ZIM', 'SLE', 'CYP', 'CTA', 'CHN', nan, 'GEO', 'MOZ',
       'RSA', 'CHA', 'UZB'], dtype=object)

In [122]:
merged_df['market_int'] = merged_df['Market value'].str.replace('m', '').str.replace("€", "")
merged_df['market_int'] = merged_df['market_int'].astype(float)
merged_df

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,Market value,market_int
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7,€20.00m,20.0
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8,NaN,NaN
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0,NaN,NaN
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0,NaN,NaN
4,5,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,2000,1,1,...,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,2917,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0,NaN,NaN
2933,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4,NaN,NaN
2934,2919,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5,NaN,NaN
2935,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0,NaN,NaN
2936,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5,NaN,NaN

In [123]:
median_value = merged_df['market_int'].median()
merged_df['market_int'] = merged_df['market_int'].fillna(round(median_value/2,2))
merged_df

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,Market value,market_int
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7,€20.00m,20.0
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8,NaN,14.0
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0,NaN,14.0
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0,NaN,14.0
4,5,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,2000,1,1,...,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0,NaN,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,2917,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0,NaN,14.0
2933,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4,NaN,14.0
2934,2919,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5,NaN,14.0
2935,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0,NaN,14.0
2936,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5,NaN,14.0

On remplace la valeur manquante au niveau de la valeur marchande par la moitié de la médiane de notre échantillon. Afin de ne pas biaiser les valeurs existantes

In [124]:
merged_df = merged_df.drop_duplicates(["Player"], keep = "first")
merged_df

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,Market value,market_int
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7,€20.00m,20.0
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8,NaN,14.0
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0,NaN,14.0
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0,NaN,14.0
4,5,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,2000,1,1,...,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0,NaN,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,2917,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0,NaN,14.0
2933,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4,NaN,14.0
2934,2919,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5,NaN,14.0
2935,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0,NaN,14.0
2936,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5,NaN,14.0

On remarque des valeurs en double dans la colonne 'nom des joueurs' ("Player"), on décide donc de garder le premier élément qui apparaît et de supprimer le second. Ceci étant expliqué par le fait qu'un joueur peut changer d'équipe en cours de saison, ce qui montre pourquoi ce joueur apparaît deux fois dans le dataset et possède des performances différentes.

## **Étude de nos données (df_football_stats)**

In [125]:
df_football_stats = pd.DataFrame()

In [126]:
df_football_stats['Player'] = merged_df['Player']
df_football_stats['Nation'] = merged_df['Nation']
df_football_stats['Pos'] = merged_df['Pos']
df_football_stats['Squad'] = merged_df['Squad']
df_football_stats['Comp'] = merged_df['Comp']
df_football_stats['Age'] = merged_df['Age']
df_football_stats['MarketValue (M €)'] = merged_df['market_int']
df_football_stats['MP'] = merged_df['MP']
df_football_stats['G/90'] = merged_df['Goals']
df_football_stats['G/Sh'] = merged_df['G/Sh']
df_football_stats['PKGoals'] = ((merged_df['ShoPK'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['PKAttempted'] = ((merged_df['PKatt'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Goals'] = ((merged_df['Goals'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Pass'] = ((merged_df['PasTotAtt'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['PassCompleted'] = ((merged_df['PasTotCmp'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['PassComp%'] = ((df_football_stats['PassCompleted'] / df_football_stats['Pass']) * 100).round(2)
df_football_stats['Assist'] = ((merged_df['Assists'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Cross'] = ((merged_df['PasCrs'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['CrossCompleted'] = ((merged_df['CrsPA'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['CrossComp%'] = ((df_football_stats['CrossCompleted'] / df_football_stats['Cross']) * 100).round(2)
df_football_stats['Tackle_Won'] = ((merged_df['TklWon'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['SucDribble'] = ((merged_df['DriSucc'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Dribble'] = ((merged_df['DriAtt'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['DribbleComp%'] = ((df_football_stats['SucDribble'] / df_football_stats['Dribble']) * 100).round(2)
df_football_stats['YCards'] = ((merged_df['CrdY'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['RCards'] = ((merged_df['CrdR'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Fls'] = ((merged_df['Fls'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Fld'] = ((merged_df['Fld'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['OGoals'] = ((merged_df['OG'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['AerWon'] = ((merged_df['AerWon'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['AerLost'] = ((merged_df['AerLost'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['AerWon%'] = ((merged_df['AerWon'] / (merged_df['AerWon'] + merged_df['AerLost'])) * 100).round(2)

### Top 10 des meilleurs buteurs

In [127]:
(df_football_stats[(df_football_stats.MP >= 20) & (df_football_stats.Pos != 'GK')].sort_values('Goals', ascending = False).head(10).iloc[:, [0,1,2,3,4,5,6,7,12]])

,Player,Nation,Pos,Squad,Comp,Age,MarketValue (M €),MP,Goals
1519,Robert Lewandowski,POL,FW,Bayern Munich,Bundesliga,33.0,56.0,34,35
1730,Kylian Mbappé,FRA,FW,Paris S-G,Ligue 1,23.0,180.0,35,28
285,Karim Benzema,FRA,FW,Real Madrid,La Liga,34.0,32.0,32,27
1243,Ciro Immobile,ITA,FW,Lazio,Serie A,32.0,40.0,31,27
266,Wissam Ben Yedder,FRA,FW,Monaco,Ligue 1,31.0,40.0,37,25
2437,Patrik Schick,CZE,FW,Leverkusen,Bundesliga,26.0,25.0,27,24
1187,Son Heung-min,KOR,FWMF,Tottenham,Premier League,29.0,14.0,35,23
2372,Mohamed Salah,EGY,FW,Liverpool,Premier League,29.0,120.0,35,23
1124,Erling Haaland,NOR,FW,Dortmund,Bundesliga,21.0,72.0,24,22
2646,Martin Terrier,FRA,FWMF,Rennes,Ligue 1,25.0,14.0,37,21

### Top 5 des clubs qui marquent le +

In [128]:
team_goals = df_football_stats.groupby(['Squad']).agg(Team_Goals = ('Goals', 'sum'))
team_goals = pd.DataFrame(team_goals).reset_index()
team_goals.sort_values('Team_Goals', ascending = False).head(5)

              Squad  Team_Goals
56  Manchester City          96
50        Liverpool          94
10    Bayern Munich          91
69        Paris S-G          88
40            Inter          83

### Top 10 Players with most Assists

In [129]:
df_football_stats.sort_values('Assist', ascending = False).head(10).iloc[:, [0,1,2,3,4,5,6,16]]

,Player,Nation,Pos,Squad,Comp,Age,MarketValue (M €),Assist
1730,Kylian Mbappé,FRA,FW,Paris S-G,Ligue 1,23.0,180.0,18
1879,Thomas M¸ller,GER,MF,Bayern Munich,Bundesliga,32.0,14.0,18
1784,Lionel Messi,ARG,FWMF,Paris S-G,Ligue 1,34.0,112.0,14
287,Domenico Berardi,ITA,FW,Sassuolo,Serie A,27.0,19.0,14
1954,Christopher Nkunku,FRA,FWMF,RB Leipzig,Bundesliga,24.0,33.0,13
673,Ousmane Dembélé,FRA,FW,Barcelona,La Liga,25.0,56.0,13
2253,Marco Reus,GER,MFFW,Dortmund,Bundesliga,32.0,25.0,13
2372,Mohamed Salah,EGY,FW,Liverpool,Premier League,29.0,120.0,13
435,Hakan «alhanolu,TUR,MF,Inter,Serie A,28.0,14.0,12
356,Benjamin Bourigeaud,FRA,FWMF,Rennes,Ligue 1,28.0,14.0,12

### Top 5 des clubs qui ont le + d'assist

In [130]:
team_assist = df_football_stats.groupby(['Squad']).agg(Team_Assist = ('Assist', 'sum'))
team_assist = pd.DataFrame(team_assist).reset_index()
team_assist.sort_values('Team_Assist', ascending = False).head(5)

              Squad  Team_Assist
50        Liverpool           71
10    Bayern Munich           69
69        Paris S-G           65
56  Manchester City           63
75           Rennes           60

### Top 5 des clubs qui ont reçu le plus de carton jaune

In [131]:
team_yc = df_football_stats.groupby(['Squad']).agg(Team_YCards = ('YCards', 'sum'))
team_yc = pd.DataFrame(team_yc).reset_index()
team_yc.sort_values('Team_YCards', ascending = False).head(5)

       Squad  Team_YCards
34    Getafe          115
76      Roma          109
55  Mallorca          108
92   Venezia          107
47   Levante          107

### Top 10 des clubs qui ont les joueurs dotés d'une valeur marchande élevé

In [132]:
team_mv = df_football_stats.groupby(['Squad']).agg(Team_MValue = ('MarketValue (M €)', 'sum'))
team_mv = pd.DataFrame(team_mv).reset_index()
team_mv.sort_values('Team_MValue', ascending = False).head(10)

              Squad  Team_MValue
69        Paris S-G       1183.5
50        Liverpool       1037.0
56  Manchester City        979.5
9         Barcelona        959.5
57   Manchester Utd        881.0
72      Real Madrid        873.0
21          Chelsea        815.0
10    Bayern Munich        783.5
25         Dortmund        645.0
41         Juventus        641.0

### Top 5 des nations qui ont les joueurs dotés d'une valeur marchande élevé

In [133]:
df_mv_sorted = df_football_stats.sort_values('MarketValue (M €)', ascending = False)

# group by nation and get the top 5 players by market value
df_top5 = df_mv_sorted.groupby("Nation").agg(Team_MValue = ('MarketValue (M €)', 'sum'))
interteam_mv = pd.DataFrame(df_top5).reset_index()
interteam_mv.sort_values('Team_MValue', ascending = False).head(10)

   Nation  Team_MValue
34    ESP       6412.0
36    FRA       6404.0
40    GER       4017.0
32    ENG       3997.0
53    ITA       3707.5
11    BRA       2164.5
67    NED       1410.0
3     ARG       1208.0
77    POR       1038.0
7     BEL        934.5

### Top 5 joueurs par nation qui ont la valeur marchande la + élevé

In [134]:
df_joueur_nation = df_football_stats.groupby("Nation").apply(lambda x: x.nlargest(5, "MarketValue (M €)")).reset_index(drop=True)
df_joueur_nation.head(20).iloc[:, [0,1,2,3,4,5,6]]

,Player,Nation,Pos,Squad,Comp,Age,MarketValue (M €)
0,Marash Kumbulla,ALB,DF,Roma,Serie A,22.0,22.5
1,Thomas Strakosha,ALB,GK,Lazio,Serie A,27.0,20.0
2,Kristjan Asllani,ALB,MF,Empoli,Serie A,20.0,14.0
3,Nedim Bajrami,ALB,MFFW,Empoli,Serie A,23.0,14.0
4,Iv·n Balliu,ALB,DF,Rayo Vallecano,La Liga,30.0,14.0
5,Riyad Mahrez,ALG,FW,Manchester City,Premier League,31.0,48.0
6,Youcef Atal,ALG,DF,Nice,Ligue 1,26.0,20.0
7,Youcef BelaÔli,ALG,MFFW,Brest,Ligue 1,30.0,14.0
8,Ishak Belfodil,ALG,FW,Hertha BSC,Bundesliga,30.0,14.0
9,Haris Belkebla,ALG,MF,Brest,Ligue 1,28.0,14.0
10,Hélder Costa,ANG,MFFW,Valencia,La Liga,28.0,14.0
11,Anderson Lucoqui,ANG,DF,Mainz 05,Bundesliga,24.0,14.0
12,M'Bala Nzola,ANG,FW,Spezia,Serie A,25.0,14.0
13,Lionel Messi,ARG,FWMF,Paris S-G,Ligue 1,34.0,112.0
14,Paulo Dybala,ARG,FWMF,Juventus,Serie A,28.0,72.0
15,Mauro Icardi,ARG,FW,Paris S-G,Ligue 1,29.0,60.0
16,Giovani Lo Celso,ARG,MFFW,Tottenham,Premier League,26.0,40.0
17,Lucas Ocampos,ARG,FW,Sevilla,La Liga,27.0,32.0
18,Henrikh Mkhitaryan,ARM,MFFW,Roma,Serie A,33.0,20.0
19,Sargis Adamyan,ARM,FWMF,Hoffenheim,Bundesliga,29.0,14.0

## **Étapes formatage à réaliser sur PySpark**

Doit afficher les 11 meilleurs joueurs de chaque nation selon leur valeur marchande

In [135]:
df_football_stats = pd.DataFrame()

In [136]:
df_football_stats['Player'] = merged_df['Player']
df_football_stats['Nation'] = merged_df['Nation']
df_football_stats['Pos'] = merged_df['Pos']
df_football_stats['Squad'] = merged_df['Squad']
df_football_stats['Comp'] = merged_df['Comp']
df_football_stats['Age'] = merged_df['Age']
df_football_stats['Year'] = merged_df['Born']
df_football_stats['MarketValue (M €)'] = merged_df['market_int']
df_football_stats['MP'] = merged_df['MP']
df_football_stats['G/90'] = merged_df['Goals']
df_football_stats['Goals'] = ((merged_df['Goals'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Pass'] = ((merged_df['PasTotAtt'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['PassCompleted'] = ((merged_df['PasTotCmp'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['PassComp%'] = ((df_football_stats['PassCompleted'] / df_football_stats['Pass']) * 100).round(2)
df_football_stats['Assist'] = ((merged_df['Assists'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Cross'] = ((merged_df['PasCrs'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['CrossCompleted'] = ((merged_df['CrsPA'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['CrossComp%'] = ((df_football_stats['CrossCompleted'] / df_football_stats['Cross']) * 100).round(2)
df_football_stats['Tackle_Won'] = ((merged_df['TklWon'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['SucDribble'] = ((merged_df['DriSucc'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['Dribble'] = ((merged_df['DriAtt'] * merged_df['Min']) / 90).round(0).astype(int)
df_football_stats['DribbleComp%'] = ((df_football_stats['SucDribble'] / df_football_stats['Dribble']) * 100).round(2)

Top 11 joueurs selon leur Market Value pour chaque Nation

In [137]:
df_joueur_nation = df_football_stats.groupby("Nation").apply(lambda x: x.nlargest(11, "MarketValue (M €)")).reset_index(drop=True)
df_joueur_nation.head(33).iloc[:, [0,1,2,3,4,5,6, 7, 8, 10, 14,17,18,21]]

,Player,Nation,Pos,Squad,Comp,Age,Year,MarketValue (M €),MP,Goals,Assist,CrossComp%,Tackle_Won,DribbleComp%
0,Marash Kumbulla,ALB,DF,Roma,Serie A,22.0,2000,22.5,17,0,0,0.00,19,NaN
1,Thomas Strakosha,ALB,GK,Lazio,Serie A,27.0,1995,20.0,23,0,0,NaN,0,NaN
2,Kristjan Asllani,ALB,MF,Empoli,Serie A,20.0,2002,14.0,23,1,1,7.69,14,41.67
3,Nedim Bajrami,ALB,MFFW,Empoli,Serie A,23.0,1999,14.0,35,6,5,15.15,28,52.31
4,Iv·n Balliu,ALB,DF,Rayo Vallecano,La Liga,30.0,1992,14.0,35,1,2,34.52,15,44.83
5,Keidi Bare,ALB,MF,Espanyol,La Liga,24.0,1997,14.0,25,1,1,14.29,20,45.00
6,Etrit Berisha,ALB,GK,Torino,Serie A,33.0,1989,14.0,10,0,0,NaN,0,NaN
7,Armando Broja,ALB,FW,Southampton,Premier League,20.0,2001,14.0,32,6,0,0.00,12,48.44
8,Berat Djimsiti,ALB,DF,Atalanta,Serie A,29.0,1993,14.0,31,1,1,70.00,31,70.00
9,Elseid Hysaj,ALB,DF,Lazio,Serie A,28.0,1994,14.0,29,1,0,18.18,24,46.88
10,Ardian Ismajli,ALB,DF,Empoli,Serie A,25.0,1996,14.0,20,0,0,0.00,8,100.00
11,Riyad Mahrez,ALG,FW,Manchester City,Premier League,31.0,1991,48.0,28,11,5,11.11,6,59.09
12,Youcef Atal,ALG,DF,Nice,Ligue 1,26.0,1996,20.0,17,2,1,14.58,21,50.00
13,Youcef BelaÔli,ALG,MFFW,Brest,Ligue 1,30.0,1992,14.0,13,3,2,5.26,2,55.26
14,Ishak Belfodil,ALG,FW,Hertha BSC,Bundesliga,30.0,1992,14.0,26,5,2,5.56,6,48.72
15,Haris Belkebla,ALG,MF,Brest,Ligue 1,28.0,1994,14.0,31,0,0,63.64,32,63.64
16,IsmaÎl Bennacer,ALG,MF,Milan,Serie A,24.0,1997,14.0,31,2,1,26.67,38,84.78
17,SaÔd Benrahma,ALG,FWMF,West Ham,Premier League,26.0,1995,14.0,32,8,6,18.75,23,41.98
18,Ramy Bensebaini,ALG,DF,M'Gladbach,Bundesliga,27.0,1995,14.0,23,4,1,37.50,27,58.06
19,Nabil Bentaleb,ALG,MF,Angers,Ligue 1,27.0,1994,14.0,18,1,0,0.00,35,66.67
20,Hicham Boudaoui,ALG,MF,Nice,Ligue 1,22.0,1999,14.0,29,3,2,19.05,21,51.28
21,Ryad Boudebouz,ALG,MFFW,Saint-…tienne,Ligue 1,32.0,1990,14.0,30,3,4,8.00,19,70.00
22,Hélder Costa,ANG,MFFW,Valencia,La Liga,28.0,1994,14.0,22,0,1,18.92,17,51.85
23,Anderson Lucoqui,ANG,DF,Mainz 05,Bundesliga,24.0,1997,14.0,13,1,0,18.18,17,14.29
24,M'Bala Nzola,ANG,FW,Spezia,Serie A,25.0,1996,14.0,21,2,1,0.00,3,61.11
25,Lionel Messi,ARG,FWMF,Paris S-G,Ligue 1,34.0,1987,112.0,26,6,14,27.78,7,64.81
26,Paulo Dybala,ARG,FWMF,Juventus,Serie A,28.0,1993,72.0,29,10,5,21.21,15,54.84
27,Mauro Icardi,ARG,FW,Paris S-G,Ligue 1,29.0,1993,60.0,24,4,0,0.00,3,28.57
28,Giovani Lo Celso,ARG,MFFW,Tottenham,Premier League,26.0,1996,40.0,9,0,0,0.00,3,75.00
29,Lucas Ocampos,ARG,FW,Sevilla,La Liga,27.0,1994,32.0,30,6,4,8.47,27,45.56
30,Leandro Paredes,ARG,MF,Paris S-G,Ligue 1,27.0,1994,20.0,15,1,2,NaN,19,66.67
31,Exequiel Palacios,ARG,MF,Leverkusen,Bundesliga,23.0,1998,18.0,23,2,2,0.00,26,58.33
32,Marcos AcuÒa,ARG,DF,Sevilla,La Liga,30.0,1991,14.0,31,1,3,18.55,39,69.23

In [138]:
df_joueur_nation.shape

(686, 22)

On remarque qu'il y a des Nations qui ne possèdent pas tous 11 joueurs. Donc on a besoin d'appliquer un filtre afin d'avoir uniquement les nations dotées d'au moins 11 joueurs.

Top 11 joueurs par Nation selon critères de performance

In [139]:
filtered_df = df_football_stats.groupby("Nation").filter(lambda x: len(x) >= 11).groupby("Nation").apply(
    lambda x: x[((x['Goals'] >= 10) |
                 (x['Assist'] >= 10) |
                 (x['MP'] >= 20) |
                 (x['Tackle_Won'] >= 20) |
                 (x['CrossComp%'] >= 70) |
                 (x['DribbleComp%'] >= 70) |
                 (x['MarketValue (M €)'] >= 20)) & (x['Pos'] != "GK")].head(10)
).reset_index(drop=True)

gk_df = df_football_stats.groupby("Nation").filter(lambda x: len(x) >= 11).groupby("Nation").apply(
    lambda x: x[((x['Pos'] == 'GK') &
                 (x['MP'] >= 10) |
                 (x['Pos'] == 'GK') &
                 (x['MarketValue (M €)'] >= 15))].head(1)
)

filtered_df = pd.concat([filtered_df, gk_df]).reset_index(drop=True)

filtered_df = filtered_df.iloc[:, [0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 14, 17, 18, 21]]

filtered_df = filtered_df.sort_values(by='Nation')  # Sort by 'Nation' column
filtered_df.reset_index(drop=True, inplace=True)  # Reset the index

filtered_df.head(34)

,Player,Nation,Pos,Squad,Comp,Age,Year,MarketValue (M €),MP,Goals,Assist,CrossComp%,Tackle_Won,DribbleComp%
0,Kristjan Asllani,ALB,MF,Empoli,Serie A,20.0,2002,14.0,23,1,1,7.69,14,41.67
1,Rey Manaj,ALB,FW,Spezia,Serie A,25.0,1997,14.0,30,5,0,16.67,10,38.00
2,Marash Kumbulla,ALB,DF,Roma,Serie A,22.0,2000,22.5,17,0,0,0.00,19,NaN
3,Ardian Ismajli,ALB,DF,Empoli,Serie A,25.0,1996,14.0,20,0,0,0.00,8,100.00
4,Elseid Hysaj,ALB,DF,Lazio,Serie A,28.0,1994,14.0,29,1,0,18.18,24,46.88
5,Etrit Berisha,ALB,GK,Torino,Serie A,33.0,1989,14.0,10,0,0,NaN,0,NaN
6,Armando Broja,ALB,FW,Southampton,Premier League,20.0,2001,14.0,32,6,0,0.00,12,48.44
7,Keidi Bare,ALB,MF,Espanyol,La Liga,24.0,1997,14.0,25,1,1,14.29,20,45.00
8,Iv·n Balliu,ALB,DF,Rayo Vallecano,La Liga,30.0,1992,14.0,35,1,2,34.52,15,44.83
9,Nedim Bajrami,ALB,MFFW,Empoli,Serie A,23.0,1999,14.0,35,6,5,15.15,28,52.31
10,Berat Djimsiti,ALB,DF,Atalanta,Serie A,29.0,1993,14.0,31,1,1,70.00,31,70.00
11,Alexandre Oukidja,ALG,GK,Metz,Ligue 1,33.0,1988,14.0,21,0,0,NaN,0,NaN
12,Farid Boulaya,ALG,MFFW,Metz,Ligue 1,29.0,1993,14.0,24,4,2,13.16,9,55.56
13,Ryad Boudebouz,ALG,MFFW,Saint-…tienne,Ligue 1,32.0,1990,14.0,30,3,4,8.00,19,70.00
14,Hicham Boudaoui,ALG,MF,Nice,Ligue 1,22.0,1999,14.0,29,3,2,19.05,21,51.28
15,Nabil Bentaleb,ALG,MF,Angers,Ligue 1,27.0,1994,14.0,18,1,0,0.00,35,66.67
16,Ramy Bensebaini,ALG,DF,M'Gladbach,Bundesliga,27.0,1995,14.0,23,4,1,37.50,27,58.06
17,SaÔd Benrahma,ALG,FWMF,West Ham,Premier League,26.0,1995,14.0,32,8,6,18.75,23,41.98
18,IsmaÎl Bennacer,ALG,MF,Milan,Serie A,24.0,1997,14.0,31,2,1,26.67,38,84.78
19,Haris Belkebla,ALG,MF,Brest,Ligue 1,28.0,1994,14.0,31,0,0,63.64,32,63.64
20,Ishak Belfodil,ALG,FW,Hertha BSC,Bundesliga,30.0,1992,14.0,26,5,2,5.56,6,48.72
21,Youcef Atal,ALG,DF,Nice,Ligue 1,26.0,1996,20.0,17,2,1,14.58,21,50.00
22,Walter BenÌtez,ARG,GK,Nice,Ligue 1,29.0,1993,14.0,37,0,0,NaN,0,NaN
23,Guido Carrillo,ARG,FW,Elche,La Liga,31.0,1991,14.0,29,2,0,33.33,7,66.67
24,Emi BuendÌa,ARG,FWMF,Aston Villa,Premier League,25.0,1996,14.0,35,4,6,15.79,31,58.82
25,Lucas Boyé,ARG,FW,Elche,La Liga,26.0,1996,14.0,24,7,3,0.00,17,57.14
26,Sergio Ag¸ero,ARG,FW,Barcelona,La Liga,33.0,1988,14.0,4,1,0,0.00,1,100.00
27,Leonardo Balerdi,ARG,DF,Marseille,Ligue 1,23.0,1999,14.0,17,0,0,NaN,8,80.00
28,Ezequiel ¡vila,ARG,FWMF,Osasuna,La Liga,28.0,1994,14.0,36,6,1,29.31,9,38.71
29,Santiago AscacÌbar,ARG,MF,Hertha BSC,Bundesliga,25.0,1997,14.0,28,0,1,0.00,61,53.33
30,Lucas Alario,ARG,FW,Leverkusen,Bundesliga,29.0,1992,14.0,27,6,0,0.00,4,84.62
31,Marcos AcuÒa,ARG,DF,Sevilla,La Liga,30.0,1991,14.0,31,1,3,18.55,39,69.23
32,Rodrigo Battaglia,ARG,MF,Mallorca,La Liga,30.0,1991,14.0,26,0,0,NaN,30,57.14
33,Stefan Ilsanker,AUT,DFMF,Eint Frankfurt,Bundesliga,33.0,1989,14.0,12,0,0,NaN,8,100.00

En affichant les 34 premières valeurs, on remarque bien qu'il y a 11 joueurs au total dont un gardien pour chaque équipe

Alternative pour prendre en compte les joueurs selon leur valeur marchande

In [140]:
df_football_stat = df_football_stats.copy()

df_football_stat = df_football_stat.sort_values(by='MarketValue (M €)', ascending=False) 
filtered_df = df_football_stat.groupby("Nation").filter(lambda x: len(x) >= 11).groupby("Nation").apply(
    lambda x: x[((x['Goals'] >= 10) |
                 (x['Assist'] >= 10) |
                 (x['MP'] >= 20) |
                 (x['Tackle_Won'] >= 20) |
                 (x['CrossComp%'] >= 70) |
                 (x['DribbleComp%'] >= 70) |
                 (x['MarketValue (M €)'] >= 15)) & (x['Pos'] != "GK")].head(10)
).reset_index(drop=True)

df_football_stat = df_football_stat.sort_values(by='MarketValue (M €)', ascending=False) 
gk_df = df_football_stat.groupby("Nation").filter(lambda x: len(x) >= 11).groupby("Nation").apply(
    lambda x: x[((x['Pos'] == 'GK') &
                 (x['MP'] >= 10) |
                 (x['Pos'] == 'GK') &
                 (x['MarketValue (M €)'] >= 15))].head(1)
)

filtered_df = pd.concat([filtered_df, gk_df]).reset_index(drop=True)

filtered_df = filtered_df.iloc[:, [0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 14, 17, 18, 21]]

filtered_df = filtered_df.sort_values(by='Nation')  # Sort by 'Nation' column
filtered_df.reset_index(drop=True, inplace=True)  # Reset the index

filtered_df.head(34)

,Player,Nation,Pos,Squad,Comp,Age,Year,MarketValue (M €),MP,Goals,Assist,CrossComp%,Tackle_Won,DribbleComp%
0,Marash Kumbulla,ALB,DF,Roma,Serie A,22.0,2000,22.5,17,0,0,0.00,19,NaN
1,Ardian Ismajli,ALB,DF,Empoli,Serie A,25.0,1996,14.0,20,0,0,0.00,8,100.00
2,Keidi Bare,ALB,MF,Espanyol,La Liga,24.0,1997,14.0,25,1,1,14.29,20,45.00
3,Armando Broja,ALB,FW,Southampton,Premier League,20.0,2001,14.0,32,6,0,0.00,12,48.44
4,Iv·n Balliu,ALB,DF,Rayo Vallecano,La Liga,30.0,1992,14.0,35,1,2,34.52,15,44.83
5,Thomas Strakosha,ALB,GK,Lazio,Serie A,27.0,1995,20.0,23,0,0,NaN,0,NaN
6,Kristjan Asllani,ALB,MF,Empoli,Serie A,20.0,2002,14.0,23,1,1,7.69,14,41.67
7,Berat Djimsiti,ALB,DF,Atalanta,Serie A,29.0,1993,14.0,31,1,1,70.00,31,70.00
8,Freddie Veseli,ALB,DF,Salernitana,Serie A,29.0,1992,14.0,9,0,0,50.00,3,75.00
9,Rey Manaj,ALB,FW,Spezia,Serie A,25.0,1997,14.0,30,5,0,16.67,10,38.00
10,Nedim Bajrami,ALB,MFFW,Empoli,Serie A,23.0,1999,14.0,35,6,5,15.15,28,52.31
11,Alexandre Oukidja,ALG,GK,Metz,Ligue 1,33.0,1988,14.0,21,0,0,NaN,0,NaN
12,SaÔd Benrahma,ALG,FWMF,West Ham,Premier League,26.0,1995,14.0,32,8,6,18.75,23,41.98
13,IsmaÎl Bennacer,ALG,MF,Milan,Serie A,24.0,1997,14.0,31,2,1,26.67,38,84.78
14,Farid Boulaya,ALG,MFFW,Metz,Ligue 1,29.0,1993,14.0,24,4,2,13.16,9,55.56
15,Ryad Boudebouz,ALG,MFFW,Saint-…tienne,Ligue 1,32.0,1990,14.0,30,3,4,8.00,19,70.00
16,Hicham Boudaoui,ALG,MF,Nice,Ligue 1,22.0,1999,14.0,29,3,2,19.05,21,51.28
17,Andy Delort,ALG,FW,Nice,Ligue 1,30.0,1991,14.0,32,16,2,18.37,10,37.50
18,Islam Slimani,ALG,FW,Lyon,Ligue 1,33.0,1988,14.0,12,1,1,0.00,2,100.00
19,Adam Ounas,ALG,MFFW,Napoli,Serie A,25.0,1996,14.0,15,0,0,30.00,3,77.27
20,Youcef Atal,ALG,DF,Nice,Ligue 1,26.0,1996,20.0,17,2,1,14.58,21,50.00
21,Riyad Mahrez,ALG,FW,Manchester City,Premier League,31.0,1991,48.0,28,11,5,11.11,6,59.09
22,Walter BenÌtez,ARG,GK,Nice,Ligue 1,29.0,1993,14.0,37,0,0,NaN,0,NaN
23,Lucas MartÌnez Quarta,ARG,DF,Fiorentina,Serie A,26.0,1996,14.0,20,1,0,0.00,25,86.67
24,José Luis Palomino,ARG,DF,Atalanta,Serie A,32.0,1990,14.0,34,1,0,14.29,66,50.00
25,Roberto Pereyra,ARG,MFFW,Udinese,Serie A,31.0,1991,14.0,24,3,5,8.00,9,46.81
26,Paulo Dybala,ARG,FWMF,Juventus,Serie A,28.0,1993,72.0,29,10,5,21.21,15,54.84
27,Leandro Paredes,ARG,MF,Paris S-G,Ligue 1,27.0,1994,20.0,15,1,2,NaN,19,66.67
28,Lucas Ocampos,ARG,FW,Sevilla,La Liga,27.0,1994,32.0,30,6,4,8.47,27,45.56
29,Giovani Lo Celso,ARG,MFFW,Tottenham,Premier League,26.0,1996,40.0,9,0,0,0.00,3,75.00
30,Mauro Icardi,ARG,FW,Paris S-G,Ligue 1,29.0,1993,60.0,24,4,0,0.00,3,28.57
31,Lionel Messi,ARG,FWMF,Paris S-G,Ligue 1,34.0,1987,112.0,26,6,14,27.78,7,64.81
32,Exequiel Palacios,ARG,MF,Leverkusen,Bundesliga,23.0,1998,18.0,23,2,2,0.00,26,58.33
33,Christopher Trimmel,AUT,DF,Union Berlin,Bundesliga,35.0,1987,14.0,25,2,0,22.54,24,40.00

In [141]:
filtered_df.shape

(409, 14)

In [142]:
# Count the number of unique values in the column
unique_count = filtered_df['Nation'].nunique()

print("Nombre de nation : ", unique_count)

print(f"Soit un total de  {unique_count*11} joueurs")

print(f"Depuis le filtre, on aura  {unique_count*11-filtered_df.shape[0]} joueurs manquants")

Nombre de nation :  40
Soit un total de  440 joueurs
Depuis le filtre, on aura  31 joueurs manquants

In [143]:
# Convertir le DataFrame en fichier CSV

filtered_df.to_csv('equipe_nation.csv', index=False)

**Bonus :** les 11 titulaires de l'EDF (2021 - 2022) en vue des matchs de qualifications de la CDM 2022 (recommandé selon les performances des joueurs)

In [144]:
filtered_df_fra = filtered_df[filtered_df['Nation'] == "FRA"]
filtered_df_fra.reset_index(drop=True, inplace=True)
filtered_df_fra

,Player,Nation,Pos,Squad,Comp,Age,Year,MarketValue (M €),MP,Goals,Assist,CrossComp%,Tackle_Won,DribbleComp%
0,Paul Pogba,FRA,MFFW,Manchester Utd,Premier League,29.0,1993,80.0,20,1,9,33.33,13,76.92
1,Hugo Lloris,FRA,GK,Tottenham,Premier League,35.0,1986,32.0,38,0,0,NaN,0,NaN
2,Kylian Mbappé,FRA,FW,Paris S-G,Ligue 1,23.0,1998,180.0,35,28,18,16.28,11,49.52
3,Antoine Griezmann,FRA,FW,Barcelona,La Liga,31.0,1991,96.0,3,0,0,NaN,6,50.00
4,Dayot Upamecano,FRA,DF,Bayern Munich,Bundesliga,23.0,1998,45.0,28,1,6,0.00,33,90.91
5,Alexandre Lacazette,FRA,FWMF,Arsenal,Premier League,31.0,1991,48.0,30,4,7,14.29,19,56.67
6,Clément Lenglet,FRA,DF,Barcelona,La Liga,26.0,1995,48.0,21,0,1,NaN,13,33.33
7,Anthony Martial,FRA,FWMF,Sevilla,La Liga,26.0,1995,48.0,9,0,1,14.29,4,38.89
8,Houssem Aouar,FRA,MFFW,Lyon,Ligue 1,23.0,1998,49.5,36,6,4,14.29,33,55.15
9,Ousmane Dembélé,FRA,FW,Barcelona,La Liga,25.0,1997,56.0,21,1,13,13.54,19,62.64
10,N'Golo Kanté,FRA,MF,Chelsea,Premier League,31.0,1991,80.0,26,2,4,0.00,34,67.39

-------

# Méthode sous forme de fonctions : à mettre dans le DAG

## Définitions de fonctions

In [145]:
# importer librairies 
from google.colab import files
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import datetime as dt
from pylab import savefig
import os

In [146]:
def load_foot_perf():
  market_value_data = pd.read_csv("foot_perf.csv")
  return market_value_data

In [147]:
load_foot_perf()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,0.03,1.41,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,0.00,0.06,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,0.00,0.36,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,0.03,0.79,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0
4,5,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,2000,1,1,...,0.00,2.00,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2916,2917,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,0.10,0.10,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0
2917,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,0.00,0.74,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4
2918,2919,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.10,0.84,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5
2919,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.25,0.29,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0
2920,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.27,0.00,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5

In [148]:
def load_market_value():
  df_mv = pd.read_csv("only_mv2.csv")
  return df_mv

In [149]:
load_market_value()

     Unnamed: 0           Player Market value Nation Pos
0             0    Kylian Mbappé     €180.00m    FRA  FW
1             1  Raheem Sterling     €128.00m    ENG  FW
2             2           Neymar     €128.00m    BRA  MF
3             3       Sadio Mané     €120.00m    SEN  FW
4             4    Mohamed Salah     €120.00m    EGY  FW
..          ...              ...          ...    ...  ..
513         513     Breel Embolo      €16.00m    SUI  MF
514         514     Nadiem Amiri      €16.00m    GER  MF
515         515    Lucas Vázquez      €16.00m    ESP  MF
516         516     Jeremie Boga      €16.00m    CIV  FW
517         517      Hugo Lloris      €32.00m    FRA  GK

[518 rows x 5 columns]

In [150]:
def clean_foot_perf(foot_perf_data):
  print("cleaned foot perf data task")
  df_football_stats = pd.DataFrame()
  df_football_stats['Player'] = foot_perf_data['Player']
  df_football_stats['Nation'] = foot_perf_data['Nation']
  df_football_stats['Pos'] = foot_perf_data['Pos']
  df_football_stats['Squad'] = foot_perf_data['Squad']
  df_football_stats['Comp'] = foot_perf_data['Comp']
  df_football_stats['Age'] = foot_perf_data['Age']
  #df_football_stats['MarketValue (M €)'] = merged_df['market_int']
  df_football_stats['MP'] = foot_perf_data['MP']
  df_football_stats['G/90'] = foot_perf_data['Goals']
  df_football_stats['G/Sh'] = foot_perf_data['G/Sh']
  df_football_stats['PKGoals'] = ((foot_perf_data['ShoPK'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['PKAttempted'] = ((foot_perf_data['PKatt'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['Goals'] = ((foot_perf_data['Goals'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['Pass'] = ((foot_perf_data['PasTotAtt'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['PassCompleted'] = ((foot_perf_data['PasTotCmp'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['PassComp%'] = ((df_football_stats['PassCompleted'] / df_football_stats['Pass']) * 100).round(2)
  df_football_stats['Assist'] = ((foot_perf_data['Assists'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['Cross'] = ((foot_perf_data['PasCrs'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['CrossCompleted'] = ((foot_perf_data['CrsPA'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['CrossComp%'] = ((df_football_stats['CrossCompleted'] / df_football_stats['Cross']) * 100).round(2)
  df_football_stats['Tackle_Won'] = ((foot_perf_data['TklWon'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['SucDribble'] = ((foot_perf_data['DriSucc'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['Dribble'] = ((foot_perf_data['DriAtt'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['DribbleComp%'] = ((df_football_stats['SucDribble'] / df_football_stats['Dribble']) * 100).round(2)
  df_football_stats['YCards'] = ((foot_perf_data['CrdY'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['RCards'] = ((foot_perf_data['CrdR'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['Fls'] = ((foot_perf_data['Fls'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['Fld'] = ((foot_perf_data['Fld'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['OGoals'] = ((foot_perf_data['OG'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['AerWon'] = ((foot_perf_data['AerWon'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['AerLost'] = ((foot_perf_data['AerLost'] * foot_perf_data['Min']) / 90).round(0).astype(int)
  df_football_stats['AerWon%'] = ((foot_perf_data['AerWon'] / (foot_perf_data['AerWon'] + foot_perf_data['AerLost'])) * 100).round(2)
  df_football_stats = df_football_stats.iloc[:, [0, 1, 2, 3, 4, 5, 6, 11, 12, 14, 15, 19, 22]]
  df_football_stats = df_football_stats.fillna(0)

   # Create a folder named "Formatted_result" if it doesn't exist
  folder_path = "Formatted_result"
  if not os.path.exists(folder_path):
      os.makedirs(folder_path)
    
    # Save the DataFrame as a CSV file inside the "Formatted_result" folder
  file_path = os.path.join(folder_path, "formatted_football_stats.csv")
  df_football_stats.to_csv(file_path, index=False)
    
  
  return df_football_stats

In [151]:
clean_foot_perf(load_foot_perf())

cleaned foot perf data task

,Player,Nation,Pos,Squad,Comp,Age,MP,Goals,Pass,PassComp%,Assist,Tackle_Won,DribbleComp%
0,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,34,0,1440,75.56,2,37,42.31
1,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,34,2,1558,82.35,0,46,72.73
2,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,31,1,1669,91.61,0,34,64.29
3,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,34,0,1636,81.72,2,73,64.62
4,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,1,0,6,33.33,0,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2916,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,36,2,1451,85.73,1,31,62.50
2917,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,35,6,915,80.11,2,49,70.00
2918,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,36,7,1600,84.88,4,25,52.38
2919,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,33,5,681,62.56,4,4,64.71
2920,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,12,2,224,81.70,1,7,44.44

In [152]:
import os

def clean_market_value(market_value_data):
    print("formatted market value data task")
    filtered_data = market_value_data.drop(columns=market_value_data.columns[0], axis=1)  # suppression 1ere colonne "unamed"

    filtered_data['market_int'] = filtered_data['Market value'].str.replace('m', '').str.replace("€", "")  # convertir l'euro en int
    filtered_data['market_int'] = filtered_data['market_int'].astype(float)

    filtered_data = filtered_data.drop(["Nation", "Pos", "Market value"], axis=1)  # enlever les colonnes inutiles
    
    # Create a folder named "Formatted_result" if it doesn't exist
    folder_path = "Formatted_result"
    if not os.path.exists(folder_path):
        os.makedirs(folder_path)

    # Save the DataFrame as a CSV file inside the "Formatted_result" folder
    file_path = os.path.join(folder_path, "filtered_market_value.csv")
    filtered_data.to_csv(file_path, index=False)
    
    return filtered_data

In [153]:
clean_market_value(load_market_value())

formatted market value data task

              Player  market_int
0      Kylian Mbappé       180.0
1    Raheem Sterling       128.0
2             Neymar       128.0
3         Sadio Mané       120.0
4      Mohamed Salah       120.0
..               ...         ...
513     Breel Embolo        16.0
514     Nadiem Amiri        16.0
515    Lucas Vázquez        16.0
516     Jeremie Boga        16.0
517      Hugo Lloris        32.0

[518 rows x 2 columns]

In [154]:
# à ajouter dans un autre fichier python
def interval_age(age_int):
    if (age_int < 18):
        return "[- de 18]" # catégorie de moins de 15 M €
    elif (age_int > 18) & (age_int < 22):
        return "[18, 22[" 
    elif (age_int >=22) & (age_int < 24):
        return "[22, 24["
    elif (age_int >= 24) & (age_int < 25):
        return "[24, 25["
    elif (age_int >= 25) & (age_int < 28):
        return "[25, 28["
    elif (age_int >= 28) & (age_int < 30):
        return "[28, 30["
    elif (age_int >= 30) & (age_int < 35):
        return "[30, 35["
    elif (age_int >= 35):
        return "[35 ou +]"
    else:
        return ""

In [155]:
# à ajouter dans un autre fichier python
def interval_match(match_int):
    if (match_int < 1):
        return "[- de 1]" # catégorie de moins de 15 M €
    elif (match_int >=1) & (match_int < 5):
        return "[1, 5[" 
    elif (match_int >= 5) & (match_int < 10):
        return "[5, 10["
    elif (match_int >= 10) & (match_int < 15):
        return "[10, 15["
    elif (match_int >= 15) & (match_int < 20):
        return "[15, 20["
    elif (match_int >= 20) & (match_int < 25):
        return "[20, 25["
    elif (match_int >= 25):
        return "[25 ou +]"
    else:
        return ""

In [156]:
# à ajouter dans un autre fichier python
def interval_goal(match_int):
    if (match_int < 10):
        return "[- de 10]" # catégorie de moins de 15 M €
    elif (match_int > 10) & (match_int < 20):
        return "[10, 20[" 
    elif (match_int >=20) & (match_int < 25):
        return "[20, 25["
    elif (match_int >= 25) & (match_int < 30):
        return "[25, 30["
    elif (match_int >= 30) & (match_int < 35):
        return "[30, 35["
    elif (match_int >= 35):
        return "[35 ou +]"
    else:
        return ""

In [157]:
# à ajouter dans un autre fichier python
def interval_pass(PassComp):
    if (PassComp < 15):
        return "[- de 15]" # catégorie de moins de 15 M €
    elif (PassComp > 15) & (PassComp < 30):
        return "[15, 30[" 
    elif (PassComp >=30) & (PassComp < 50):
        return "[30, 50["
    elif (PassComp >= 50) & (PassComp < 60):
        return "[50, 60["
    elif (PassComp >= 60) & (PassComp < 80):
        return "[60, 80["
    elif (PassComp >= 80) & (PassComp < 90):
        return "[80, 90["
    elif (PassComp >= 90) & (PassComp < 100):
        return "[90, 100]"
    elif (PassComp == 100):
        return "[100]"
    else:
        return ""

In [158]:
# à ajouter dans un autre fichier python
def interval_dribble(DribbleComp):
    if (DribbleComp < 15):
        return "[- de 15]" # catégorie de moins de 15 M €
    elif (DribbleComp > 15) & (DribbleComp < 30):
        return "[15, 30[" 
    elif (DribbleComp >=30) & (DribbleComp < 50):
        return "[30, 50["
    elif (DribbleComp >= 50) & (DribbleComp < 60):
        return "[50, 60["
    elif (DribbleComp >= 60) & (DribbleComp < 80):
        return "[60, 80["
    elif (DribbleComp >= 80) & (DribbleComp < 90):
        return "[80, 90["
    elif (DribbleComp >= 90) & (DribbleComp < 100):
        return "[90, 100]"
    elif (DribbleComp == 100):
        return "[100]"
    else:
        return ""

In [159]:
# à ajouter dans un autre fichier python
def interval_value(market_int):
    if (market_int < 15):
        return "[- de 15]" # catégorie de moins de 15 M €
    elif (market_int > 15) & (market_int < 20):
        return "[15, 20[" 
    elif (market_int >=20) & (market_int < 30):
        return "[20, 30["
    elif (market_int >= 30) & (market_int < 40):
        return "[30, 40["
    elif (market_int >= 40) & (market_int < 50):
        return "[40, 50["
    elif (market_int >= 50) & (market_int < 60):
        return "[50, 60["
    elif (market_int >= 60):
        return "[60 ou +]"
    else:
        return ""

In [160]:
import os

# Combine both dataframes => so that we associate their market value price on each players
def join_datasets(clean_foot_perf, clean_foot_value):
    print("join 2 datasets task")
    merged_df = pd.merge(clean_foot_perf, clean_foot_value, on='Player', how='left')
    median_value = merged_df['market_int'].median()
    merged_df['market_int'] = merged_df['market_int'].fillna(round(median_value/2, 2))
    merged_df['Match played interval'] = merged_df['MP'].apply(interval_match)
    merged_df['Goals interval'] = merged_df['Goals'].apply(interval_goal)
    merged_df['Successful Pass rate (%)'] = merged_df['PassComp%'].apply(interval_pass)
    merged_df['Successful Dribble rate (%)'] = merged_df['DribbleComp%'].apply(interval_dribble)
    merged_df['market_interval (M €)'] = merged_df['market_int'].apply(interval_value)
    merged_df = merged_df.rename(columns={'market_int': 'MarketValue (M €)'})
    merged_df = merged_df.drop_duplicates(["Player"], keep="first")

    # Create a folder named "Combined_result" if it doesn't exist
    folder_path = "Combined_result"
    if not os.path.exists(folder_path):
        os.makedirs(folder_path)

    # Save the DataFrame as a CSV file inside the "Combined_result" folder
    file_path = os.path.join(folder_path, "merged_data.csv")
    merged_df.to_csv(file_path, index=False)

    return merged_df

In [161]:
join_datasets(clean_foot_perf(load_foot_perf()), clean_market_value(load_market_value()))

cleaned foot perf data task
formatted market value data task
join 2 datasets task

,Player,Nation,Pos,Squad,Comp,Age,MP,Goals,Pass,PassComp%,Assist,Tackle_Won,DribbleComp%,MarketValue (M €),Match played interval,Goals interval,Successful Pass rate (%),Successful Dribble rate (%),market_interval (M €)
0,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,34,0,1440,75.56,2,37,42.31,20.0,[25 ou +],[- de 10],"[60, 80[","[30, 50[","[20, 30["
1,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,34,2,1558,82.35,0,46,72.73,14.0,[25 ou +],[- de 10],"[80, 90[","[60, 80[",[- de 15]
2,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,31,1,1669,91.61,0,34,64.29,14.0,[25 ou +],[- de 10],"[90, 100]","[60, 80[",[- de 15]
3,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,34,0,1636,81.72,2,73,64.62,14.0,[25 ou +],[- de 10],"[80, 90[","[60, 80[",[- de 15]
4,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,1,0,6,33.33,0,0,0.00,14.0,"[1, 5[",[- de 10],"[30, 50[",[- de 15],[- de 15]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,36,2,1451,85.73,1,31,62.50,14.0,[25 ou +],[- de 10],"[80, 90[","[60, 80[",[- de 15]
2933,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,35,6,915,80.11,2,49,70.00,14.0,[25 ou +],[- de 10],"[80, 90[","[60, 80[",[- de 15]
2934,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,36,7,1600,84.88,4,25,52.38,14.0,[25 ou +],[- de 10],"[80, 90[","[50, 60[",[- de 15]
2935,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,33,5,681,62.56,4,4,64.71,14.0,[25 ou +],[- de 10],"[60, 80[","[60, 80[",[- de 15]
2936,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,12,2,224,81.70,1,7,44.44,14.0,"[10, 15[",[- de 10],"[80, 90[","[30, 50[",[- de 15]

Dataset complet, désormais il faut l'exploiter :

In [162]:
import os

def index_to_elastic(merged_data):
    print("merged data task")
    df_football_stat = merged_data.sort_values(by='MarketValue (M €)', ascending=False)
    filtered_df = df_football_stat.groupby("Nation").filter(lambda x: len(x) >= 11).groupby("Nation").apply(
        lambda x: x[
            (
                (x['Goals'] >= 10) |
                (x['Assist'] >= 10) |
                (x['MP'] >= 20) |
                (x['Tackle_Won'] >= 20) |
                (x['PassComp%'] >= 60) |
                (x['DribbleComp%'] >= 60) |
                (x['MarketValue (M €)'] >= 15)
            ) & (x['Pos'] != "GK")
        ].head(10)
    ).reset_index(drop=True)
    df_football_stat = merged_data.sort_values(by='MarketValue (M €)', ascending=False)
    gk_df = df_football_stat.groupby("Nation").filter(lambda x: len(x) >= 11).groupby("Nation").apply(
        lambda x: x[
            (
                (x['Pos'] == 'GK') &
                (x['MP'] >= 10) |
                (x['Pos'] == 'GK') &
                (x['MarketValue (M €)'] >= 15)
            )
        ].head(1)
    )
    filtered_df = pd.concat([filtered_df, gk_df]).reset_index(drop=True)
    filtered_df = filtered_df.sort_values(by='Nation')  # Sort by 'Nation' column
    filtered_df.reset_index(drop=True, inplace=True)  # Reset the index

    # Create a folder named "Final_file_to_index" if it doesn't exist
    folder_path = "Final_file_to_index"
    if not os.path.exists(folder_path):
        os.makedirs(folder_path)

    # Save the DataFrame as a CSV file inside the "Final_file_to_index" folder
    file_path = os.path.join(folder_path, "equipe_nation.csv")
    filtered_df.to_csv(file_path, index=False)

    return filtered_df.head(34)

In [163]:
index_to_elastic(join_datasets(clean_foot_perf(load_foot_perf()), clean_market_value(load_market_value())))

cleaned foot perf data task
formatted market value data task
join 2 datasets task
merged data task

,Player,Nation,Pos,Squad,Comp,Age,MP,Goals,Pass,PassComp%,Assist,Tackle_Won,DribbleComp%,MarketValue (M €),Match played interval,Goals interval,Successful Pass rate (%),Successful Dribble rate (%),market_interval (M €)
0,Marash Kumbulla,ALB,DF,Roma,Serie A,22.0,17,0,631,86.53,0,19,0.00,22.5,"[15, 20[",[- de 10],"[80, 90[",[- de 15],"[20, 30["
1,Keidi Bare,ALB,MF,Espanyol,La Liga,24.0,25,1,869,86.19,1,20,45.00,14.0,[25 ou +],[- de 10],"[80, 90[","[30, 50[",[- de 15]
2,Armando Broja,ALB,FW,Southampton,Premier League,20.0,32,6,404,61.88,0,12,48.44,14.0,[25 ou +],[- de 10],"[60, 80[","[30, 50[",[- de 15]
3,Iv·n Balliu,ALB,DF,Rayo Vallecano,La Liga,30.0,35,1,1794,76.42,2,15,44.83,14.0,[25 ou +],[- de 10],"[60, 80[","[30, 50[",[- de 15]
4,Nedim Bajrami,ALB,MFFW,Empoli,Serie A,23.0,35,6,886,70.88,5,28,52.31,14.0,[25 ou +],[- de 10],"[60, 80[","[50, 60[",[- de 15]
5,Thomas Strakosha,ALB,GK,Lazio,Serie A,27.0,23,0,731,82.49,0,0,0.00,20.0,"[20, 25[",[- de 10],"[80, 90[",[- de 15],"[20, 30["
6,Berat Djimsiti,ALB,DF,Atalanta,Serie A,29.0,31,1,1426,84.92,1,31,70.00,14.0,[25 ou +],[- de 10],"[80, 90[","[60, 80[",[- de 15]
7,Myrto Uzuni,ALB,MFFW,Granada,La Liga,26.0,15,1,214,68.69,1,9,33.33,14.0,"[15, 20[",[- de 10],"[60, 80[","[30, 50[",[- de 15]
8,Freddie Veseli,ALB,DF,Salernitana,Serie A,29.0,9,0,204,84.31,0,3,75.00,14.0,"[5, 10[",[- de 10],"[80, 90[","[60, 80[",[- de 15]
9,Rey Manaj,ALB,FW,Spezia,Serie A,25.0,30,5,450,75.56,0,10,38.00,14.0,[25 ou +],[- de 10],"[60, 80[","[30, 50[",[- de 15]
10,Kristjan Asllani,ALB,MF,Empoli,Serie A,20.0,23,1,747,82.73,1,14,41.67,14.0,"[20, 25[",[- de 10],"[80, 90[","[30, 50[",[- de 15]
11,Alexandre Oukidja,ALG,GK,Metz,Ligue 1,33.0,21,0,590,64.58,0,0,0.00,14.0,"[20, 25[",[- de 10],"[60, 80[",[- de 15],[- de 15]
12,Farid Boulaya,ALG,MFFW,Metz,Ligue 1,29.0,24,4,736,66.30,2,9,55.56,14.0,"[20, 25[",[- de 10],"[60, 80[","[50, 60[",[- de 15]
13,Ryad Boudebouz,ALG,MFFW,Saint-…tienne,Ligue 1,32.0,30,3,1554,78.76,4,19,70.00,14.0,[25 ou +],[- de 10],"[60, 80[","[60, 80[",[- de 15]
14,Hicham Boudaoui,ALG,MF,Nice,Ligue 1,22.0,29,3,663,76.02,2,21,51.28,14.0,[25 ou +],[- de 10],"[60, 80[","[50, 60[",[- de 15]
15,Andy Delort,ALG,FW,Nice,Ligue 1,30.0,32,16,685,61.17,2,10,37.50,14.0,[25 ou +],"[10, 20[","[60, 80[","[30, 50[",[- de 15]
16,Islam Slimani,ALG,FW,Lyon,Ligue 1,33.0,12,1,192,78.12,1,2,100.00,14.0,"[10, 15[",[- de 10],"[60, 80[",[100],[- de 15]
17,AÔssa Mandi,ALG,DF,Villarreal,La Liga,30.0,17,1,982,93.18,0,6,0.00,14.0,"[15, 20[",[- de 10],"[90, 100]",[- de 15],[- de 15]
18,Mehdi Zerkane,ALG,MFDF,Bordeaux,Ligue 1,22.0,6,0,47,93.62,0,2,50.00,14.0,"[5, 10[",[- de 10],"[90, 100]","[50, 60[",[- de 15]
19,Adam Ounas,ALG,MFFW,Napoli,Serie A,25.0,15,0,206,80.10,0,3,77.27,14.0,"[15, 20[",[- de 10],"[80, 90[","[60, 80[",[- de 15]
20,Youcef Atal,ALG,DF,Nice,Ligue 1,26.0,17,2,727,76.62,1,21,50.00,20.0,"[15, 20[",[- de 10],"[60, 80[","[50, 60[","[20, 30["
21,Riyad Mahrez,ALG,FW,Manchester City,Premier League,31.0,28,11,932,82.51,5,6,59.09,48.0,[25 ou +],"[10, 20[","[80, 90[","[50, 60[","[40, 50["
22,Juan Musso,ARG,GK,Atalanta,Serie A,28.0,33,0,951,74.03,0,0,100.00,14.0,[25 ou +],[- de 10],"[60, 80[",[100],[- de 15]
23,José Luis Palomino,ARG,DF,Atalanta,Serie A,32.0,34,1,1648,82.71,0,66,50.00,14.0,[25 ou +],[- de 10],"[80, 90[","[50, 60[",[- de 15]
24,Roberto Pereyra,ARG,MFFW,Udinese,Serie A,31.0,24,3,841,85.61,5,9,46.81,14.0,"[20, 25[",[- de 10],"[80, 90[","[30, 50[",[- de 15]
25,Javier Pastore,ARG,MFFW,Elche,La Liga,32.0,13,0,286,78.67,0,3,41.18,14.0,"[10, 15[",[- de 10],"[60, 80[","[30, 50[",[- de 15]
26,Paulo Dybala,ARG,FWMF,Juventus,Serie A,28.0,29,10,1129,81.13,5,15,54.84,72.0,[25 ou +],,"[80, 90[","[50, 60[",[60 ou +]
27,Leandro Paredes,ARG,MF,Paris S-G,Ligue 1,27.0,15,1,937,95.52,2,19,66.67,20.0,"[15, 20[",[- de 10],"[90, 100]","[60, 80[","[20, 30["
28,Lucas Ocampos,ARG,FW,Sevilla,La Liga,27.0,30,6,862,76.68,4,27,45.56,32.0,[25 ou +],[- de 10],"[60, 80[","[30, 50[","[30, 40["
29,Giovani Lo Celso,ARG,MFFW,Tottenham,Premier League,26.0,9,0,150,79.33,0,3,75.00,40.0,"[5, 10[",[- de 10],"[60, 80[","[60, 80[","[40, 50["
30,Mauro Icardi,ARG,FW,Paris S-G,Ligue 1,29.0,24,4,151,79.47,0,3,28.57,60.0,"[20, 25[",[- de 10],"[60, 80[","[15, 30[",[60 ou +]
31,Lionel Messi,ARG,FWMF,Paris S-G,Ligue 1,34.0,26,6,1667,84.82,14,7,64.81,112.0,[25 ou +],[- de 10],"[80, 90[","[60, 80[",[60 ou +]
32,Exequiel Palacios,ARG,MF,Leverkusen,Bundesliga,23.0,23,2,804,86.44,2,26,58.33,18.0,"[20, 25[",[- de 10],"[80, 90[","[50, 60[","[15, 20["
33,Daniel Bachmann,AUT,GK,Watford,Premier League,27.0,12,0,358,58.94,0,0,100.00,14.0,"[10, 15[",[- de 10],"[50, 60[",[100],[- de 15]

-------

**Bonus**- Sélection EDF :

In [164]:
def index_to_elastic(merged_data):
  print("merged data task")
  df_football_stat = merged_data.sort_values(by='MarketValue (M €)', ascending=False) 
  filtered_df = df_football_stat.groupby("Nation").filter(lambda x: len(x) >= 11).groupby("Nation").apply(
    lambda x: x[((x['Goals'] >= 10) |
                 (x['Assist'] >= 10) |
                 (x['MP'] >= 20) |
                 (x['Tackle_Won'] >= 20) |
                 (x['PassComp%'] >= 60) |
                 (x['DribbleComp%'] >= 60) |
                 (x['MarketValue (M €)'] >= 15)) & (x['Pos'] != "GK")].head(10)
    ).reset_index(drop=True)
  df_football_stat = merged_data.sort_values(by='MarketValue (M €)', ascending=False) 
  gk_df = df_football_stat.groupby("Nation").filter(lambda x: len(x) >= 11).groupby("Nation").apply(
    lambda x: x[((x['Pos'] == 'GK') &
                 (x['MP'] >= 10) |
                 (x['Pos'] == 'GK') &
                 (x['MarketValue (M €)'] >= 15))].head(1)
    )
  filtered_df = pd.concat([filtered_df, gk_df]).reset_index(drop=True)
  filtered_df = filtered_df.sort_values(by='Nation')  # Sort by 'Nation' column
  filtered_df.reset_index(drop=True, inplace=True)  # Reset the index
  filtered_df_fra = filtered_df[filtered_df['Nation'] == "FRA"]
  filtered_df_fra.reset_index(drop=True, inplace=True)
  filtered_df_fra.to_csv('equipe_france.csv', index=False)

  
  return filtered_df_fra.head(34)

In [165]:
index_to_elastic(join_datasets(clean_foot_perf(load_foot_perf()), clean_market_value(load_market_value())))

cleaned foot perf data task
formatted market value data task
join 2 datasets task
merged data task

,Player,Nation,Pos,Squad,Comp,Age,MP,Goals,Pass,PassComp%,Assist,Tackle_Won,DribbleComp%,MarketValue (M €),Match played interval,Goals interval,Successful Pass rate (%),Successful Dribble rate (%),market_interval (M €)
0,Hugo Lloris,FRA,GK,Tottenham,Premier League,35.0,38,0,942,79.09,0,0,0.00,32.0,[25 ou +],[- de 10],"[60, 80[",[- de 15],"[30, 40["
1,Paul Pogba,FRA,MFFW,Manchester Utd,Premier League,29.0,20,1,878,83.94,9,13,76.92,80.0,"[20, 25[",[- de 10],"[80, 90[","[60, 80[",[60 ou +]
2,Kylian Mbappé,FRA,FW,Paris S-G,Ligue 1,23.0,35,28,1451,80.08,18,11,49.52,180.0,[25 ou +],"[25, 30[","[80, 90[","[30, 50[",[60 ou +]
3,Antoine Griezmann,FRA,FW,Barcelona,La Liga,31.0,3,0,100,86.00,0,6,50.00,96.0,"[1, 5[",[- de 10],"[80, 90[","[50, 60[",[60 ou +]
4,Dayot Upamecano,FRA,DF,Bayern Munich,Bundesliga,23.0,28,1,2260,90.53,6,33,90.91,45.0,[25 ou +],[- de 10],"[90, 100]","[90, 100]","[40, 50["
5,Alexandre Lacazette,FRA,FWMF,Arsenal,Premier League,31.0,30,4,455,76.92,7,19,56.67,48.0,[25 ou +],[- de 10],"[60, 80[","[50, 60[","[40, 50["
6,Clément Lenglet,FRA,DF,Barcelona,La Liga,26.0,21,0,813,90.77,1,13,33.33,48.0,"[20, 25[",[- de 10],"[90, 100]","[30, 50[","[40, 50["
7,Anthony Martial,FRA,FWMF,Sevilla,La Liga,26.0,9,0,158,81.65,1,4,38.89,48.0,"[5, 10[",[- de 10],"[80, 90[","[30, 50[","[40, 50["
8,Houssem Aouar,FRA,MFFW,Lyon,Ligue 1,23.0,36,6,1461,87.20,4,33,55.15,49.5,[25 ou +],[- de 10],"[80, 90[","[50, 60[","[40, 50["
9,Ousmane Dembélé,FRA,FW,Barcelona,La Liga,25.0,21,1,819,73.99,13,19,62.64,56.0,"[20, 25[",[- de 10],"[60, 80[","[60, 80[","[50, 60["
10,N'Golo Kanté,FRA,MF,Chelsea,Premier League,31.0,26,2,1282,87.13,4,34,67.39,80.0,[25 ou +],[- de 10],"[80, 90[","[60, 80[",[60 ou +]