<a href="https://colab.research.google.com/github/PuchToTalk/Football_market-value/blob/main/Football_player_mv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importer librairies 
from google.colab import files
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import datetime as dt
from pylab import savefig

In [3]:
df_perf = pd.read_csv("foot_perf.csv")
df_perf

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,0.03,1.41,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,0.00,0.06,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,0.00,0.36,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,0.03,0.79,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0
4,5,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,2000,1,1,...,0.00,2.00,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2916,2917,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,0.10,0.10,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0
2917,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,0.00,0.74,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4
2918,2919,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.10,0.84,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5
2919,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.25,0.29,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0
2920,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.27,0.00,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5

In [19]:
df_mv = pd.read_csv("only_mv.csv")
df_mv = df_mv.drop(columns = df_mv.columns[0], axis = 1)
df_mv = df_mv.drop(["Nation", "Pos"], axis = 1)
df_mv

              Player Market value
0      Kylian Mbappé     €180.00m
1    Raheem Sterling     €128.00m
2             Neymar     €128.00m
3         Sadio Mané     €120.00m
4      Mohamed Salah     €120.00m
..               ...          ...
512      Keita Baldé      €16.00m
513     Breel Embolo      €16.00m
514     Nadiem Amiri      €16.00m
515    Lucas Vázquez      €16.00m
516     Jeremie Boga      €16.00m

[517 rows x 2 columns]

In [20]:
merged_df = pd.merge(df_perf, df_mv, on='Player', how='left')
merged_df

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%,Market value
0,1,Max Aarons,ENG,DF,Norwich City,Premier League,22.0,2000,34,32,...,1.41,1.16,0.00,0.06,0.03,5.53,0.47,1.59,22.7,€20.00m
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,34.0,1987,34,34,...,0.06,1.39,0.00,0.03,0.00,6.77,2.02,1.36,59.8,NaN
2,3,Salis Abdul Samed,GHA,MF,Clermont Foot,Ligue 1,22.0,2000,31,29,...,0.36,1.24,0.00,0.00,0.00,8.76,0.88,0.88,50.0,NaN
3,4,Laurent Abergel,FRA,MF,Lorient,Ligue 1,29.0,1993,34,34,...,0.79,2.23,0.00,0.00,0.00,8.87,0.43,0.43,50.0,NaN
4,5,Charles Abi,FRA,FW,Saint-…tienne,Ligue 1,22.0,2000,1,1,...,2.00,0.00,0.00,0.00,0.00,4.00,2.00,0.00,100.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2932,2917,MartÌn Zubimendi,ESP,MF,Real Sociedad,La Liga,23.0,1999,36,26,...,0.10,1.08,0.00,0.00,0.00,9.41,2.64,1.42,65.0,NaN
2933,2918,Szymon ?urkowski,POL,MF,Empoli,Serie A,24.0,1997,35,29,...,0.74,1.91,0.00,0.04,0.00,8.05,1.02,1.56,39.4,NaN
2934,2919,Martin ÿdegaard,NOR,MF,Arsenal,Premier League,23.0,1998,36,32,...,0.84,0.81,0.00,0.06,0.00,7.44,0.55,0.81,40.5,NaN
2935,2920,Milan ?uri?,BIH,FW,Salernitana,Serie A,32.0,1990,33,23,...,0.29,0.17,0.04,0.00,0.00,3.24,12.40,4.81,72.0,NaN
2936,2921,Filip ?uri?i?,SRB,MFFW,Sassuolo,Serie A,30.0,1992,12,9,...,0.00,0.93,0.00,0.00,0.00,4.67,0.40,0.67,37.5,NaN